
@{
    ViewBag.Title = "BaoSunGuanli";
    Layout = "~/Views/MainPage.cshtml";
    Models.Admin ssss = Session["user"] as Models.Admin;
}

<link href="~/Css/bootstrap.min.css" rel="stylesheet" />
<link href="~/layui/css/layui.css" rel="stylesheet" />


<div style="border:0px solid #4cff00;width:95%;">
    <div style="height:50px;background-color:#e7e7e7;">
        <div style="width:150px;margin-left:15px;font-weight:600;padding-top:15px;color:#373737">报损管理</div>
    </div>
</div>
<div style="border:0px solid #4cff00;width:95%;">
    <div style="padding:15px;border:1px solid #808080">
        <button class="btn btn-default" onclick="Suoyou()">所有</button>
        <button class="btn btn-default" id="daish">待审核</button>
        <button class="btn btn-default" id="shenhetg">审核通过</button>
        <button class="btn btn-default" id="shenhesb">审核失败</button>
        <input class="btn btn-primary" type="button" value="新增" onclick="TiaoADD()" style="width:80px;margin-left:52%" />
        <input class="btn btn-danger" type="button" value="删除" style="width:80px;" />
        <input class="btn btn-info" type="button" value="导出" style="width:80px;" />

        <div style="padding-top:8px;display:flex;margin-bottom:20px">
            <input type="text" class="form-control" placeholder="请输入报损单号" id="danhaoh" style="width:170px;margin-right:10px" />
            <div style="padding-top:6px;margin-right:5px;">时间</div>
            <input id="time1" class="form-control" style="width:170px;margin-right:10px">
            <div style="padding-top:6px;margin-right:5px;">-</div>
            <input id="time2" class="form-control" style="width:170px;margin-right:10px">

            <input class="btn btn-info" type="button" onclick="MoHuBaoSunList()" value="搜索" style="width:80px;margin-right:5px" />
            <input class="btn btn-primary" type="button" value="高级搜索" style="width:100px;" />
        </div>

        <div style="">
            <table style="width:100%;" class="table table-striped">
                <thead>
                    <tr style="font-weight:600">
                        <td><input type='checkbox' /></td>
                        <td>单据编号</td>
                        <td>报损类型</td>
                        <td>关联单号</td>
                        <td>报损数量</td>
                        <td>状态</td>
                        <td>操作方式</td>
                        <td>创建人</td>
                        <td>创建时间</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody id="tt"></tbody>

            </table>

            @*layui分页*@
            <div id="pageDome">

            </div>
        </div>


    </div>
</div>

<div id="hideID3" style="display:none">
    <div>
        <table class="table table-bordered">
            <tr>
                <td>报损单号</td>
                <td class="rukdh"></td>
                <td>报损人</td>
                <td class="bsr"></td>
                <td>创建时间</td>
                <td class="chuangjiantime"></td>
            </tr>
            <tr>
                <td>当前状态</td>
                <td class="dangqianhzt" colspan="5"></td>
            </tr>
            <tr>
                <td>报损描述</td>
                <td class="rukgldd" colspan="5"></td>
            </tr>
            <tr>
                <td>审核备注</td>
                <td class="shenhebeizhu" colspan="5"></td>
            </tr>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <td>产品名称</td>
                    <td>产品条码</td>
                    <td>产品编号</td>
                    <td>批次</td>
                    <td>仓库库位(源)</td>
                    <td>报损库位</td>
                    <td>报损数量</td>
                </tr>
            </thead>
            <tbody id="xiangqingbiae"></tbody>
        </table>
    </div>
</div>

<div id="hideshenhe" style="display:none">
    <div>
        <table class="table table-bordered">
            <tr>
                <td>报损单号</td>
                <td class="rukdh"></td>
                <td>报损人</td>
                <td class="bsr"></td>
                <td>创建时间</td>
                <td class="chuangjiantime"></td>
            </tr>
            <tr>
                <td>当前状态</td>
                <td class="dangqianhzt" colspan="5"></td>
            </tr>
            <tr>
                <td>报损描述</td>
                <td class="rukgldd" colspan="5"></td>
            </tr>
            <tr>
                <td>审核备注</td>
                <td class="shenhebeizhu" colspan="5"></td>
            </tr>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <td>产品名称</td>
                    <td>产品条码</td>
                    <td>产品编号</td>
                    <td>批次</td>
                    <td>仓库库位(源)</td>
                    <td>报损库位</td>
                    <td>报损数量</td>
                </tr>
            </thead>
            <tbody id="xiangqingbiae2"></tbody>
        </table>
    </div>
    <div id="anniukuai" style="text-align:right;padding-right:30px;padding-top:50px">
        <button class="btn btn-default" id="shenhetg" onclick="ChuKuShenHe(1)">审核通过</button>
        <button class="btn btn-default" id="shenhesb" onclick="ChuKuShenHe(0)">审核失败</button>
        <button class="btn btn-default" id="tuichu">退出</button>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<script>
    var pageIndex = 1;
    var pageSize = 10;
    var rowss = 0;
    var state = 2;

    var cp = [];//存放产品编号和数量

    $(function () {
        rukuList(state);

        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;

            //完整功能
            laypage.render({
                elem: 'pageDome'
                , count: rowss
                , limit: 10
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {
                    pageIndex = obj.curr;
                    pageSize = obj.limit;
                    rukuList(state);
                }
            });
        });


        $("#daish").click(function () {
            rukuList(2);
        })
        $("#shenhetg").click(function () {
            rukuList(1);
        })
        $("#shenhesb").click(function () {
            rukuList(0);
        })

    })




    function show3(rid) {

        $("#xiangqingbiae tr").remove();
        layui.use('layer', function () { //独立版的layer无需执行这一句
            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

            layer.open({
                type: 1,
                skin: 'layui-layer-demo', //样式类名
                title: ['报损单详细', 'font-size:18px'],
                area: ['850px', '400px'],
                shade: 0,
                content: $("#hideID3"), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                btn: ['按钮', '退出'],
                btn1: function (index, layero) {
                    // 按钮1的逻辑
                },
                btn2: function (index, layero) {
                    // 按钮2的逻辑
                },
                cancel: function () {
                    // 右上角关闭事件的逻辑
                }
            });

        });
        $.ajax({
            type: "post",
            url: "/XBY/Baoxuncha",
            data: "{id:'" + rid + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $(".rukdh").text(data.BreakageID);
                    $(".bsr").text(data.EmployeeID);
                    $(".chuangjiantime").text(ConvertDate(data.CreationTime));

                    if (data.State == 2) {
                        $(".dangqianhzt").text("待审核");
                    }
                    if (data.State == 1) {
                        $(".dangqianhzt").text("审核通过");
                    }
                    if (data.State == 0) {
                        $(".dangqianhzt").text("审核失败");
                    }

                    $(".rukgldd").text();//报损备注
                    $(".shenhebeizhu").text(data.StateText);//审核备注


                    $.each(data.xiangbiao, function (index, data1) {
                        $("#xiangqingbiae").append("<tr><td>" + data1.productName + "</td><td>" + data1.cptiaoma + "</td><td>" + data1.ProductID + "</td><td>" + data1.Batch + " </td><td>" + data1.kuweiname + "</td><td>报损仓库</td><td>" + data1.BreakageNumber + "</td></tr>")
                    })
                });


            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }

    function shenheyemian(rid) {

        $("#xiangqingbiae2 tr").remove();
        layui.use('layer', function () { //独立版的layer无需执行这一句
            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

            layer.open({
                type: 1,
                skin: 'layui-layer-demo', //样式类名
                title: ['报损单详细', 'font-size:18px'],
                area: ['850px', '400px'],
                shade: 0,
                content: $("#hideshenhe"), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响

                cancel: function () {
                    // 右上角关闭事件的逻辑
                }
            });

        });
        $.ajax({
            type: "post",
            url: "/XBY/Baoxuncha",
            data: "{id:'" + rid + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $(".rukdh").text(data.BreakageID);
                    danh = data.BreakageID;
                    $(".bsr").text(data.EmployeeID);
                    $(".chuangjiantime").text(ConvertDate(data.CreationTime));

                    if (data.State == 2) {
                        $(".dangqianhzt").text("待审核");
                    }
                    if (data.State == 1) {
                        $(".dangqianhzt").text("审核通过");
                    }
                    if (data.State == 0) {
                        $(".dangqianhzt").text("审核失败");
                    }

                    $(".rukgldd").text();//报损备注
                    $(".shenhebeizhu").text(data.StateText);//审核备注
                    $.each(data.xiangbiao, function (index, data1) {
                        $("#xiangqingbiae2").append("<tr><td>" + data1.productName + "</td><td>" + data1.cptiaoma + "</td><td>" + data1.ProductID + "</td><td>" + data1.Batch + " </td><td>" + data1.kuweiname + "</td><td>报损仓库</td><td>" + data1.BreakageNumber + "</td></tr>")
                        var obj = {};
                        obj.shcpid = data1.cpid;
                        obj.shcount = data1.BreakageNumber;
                        console.log(obj)
                        cp.push(obj);
                    })
                });


            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }

    function ChuKuShenHe(state) {
        $.ajax({
            type: "POST",
            url: "/XBY/BaoSunShenHe",
            data: "{danhao:" + danh + ",state:" + state + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    for (var i = 0; i < cp.length; i++) {
                        $.ajax({
                            type: "POST",
                            url: "/XBY/BaoSunSHHou",
                            data: "{cpid:" + cp[i].shcpid + ",Count:" + cp[i].shcount + "}",
                            dataType: "json",
                            contentType: "application/json",
                            success: function (result) {

                            },
                            error: function (ex) {
                                alert("Error:" + ex.responseText);

                            }
                        });
                    }
                    alert("完成审核");
                    location.href = '/XBY/BaoSunGuanli'
                } else {
                    return;
                }
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }



    //跳转到新增报损单号
    function TiaoADD() {
        location.href = '/XBY/BaoSunGuanliAdd'
    }



    function Suoyou() {
        SuoyouList();
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;

            //完整功能
            laypage.render({
                elem: 'pageDome'
                , count: rowss
                , limit: 10
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {
                    pageIndex = obj.curr;
                    pageSize = obj.limit;
                    SuoyouList();
                }
            });
        });
    }



    function SuoyouList() {
        $.ajax({
            type: "POST",
            url: "/XBY/SuoYouBaoSunList",
            data: "{PageSize:" + pageSize + ",PageIndex:" + pageIndex + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tt tr").remove();
                rowss = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tt").append("<tr><td><input type='checkbox' id='" + data.BreakageID + "'/></td><td>" + data.BreakageID + "</td><td>" + data.BreakageType + "</td><td>" + data.AssociatedNumber + "</td><td>" + data.BreakageCount + "</td><td>" + ZTString(data.State) + "</td><td>" + data.operationType + "</td><td>" + data.EmployeeID + "</td><td>" + ConvertDate(data.CreationTime) + "</td><td><i class='layui-icon layui-icon-edit' id='bj" + data.BreakageID + "' title='编辑'></i> <i class='layui-icon layui-icon-file-b' title='详情' onclick='show3(" + data.BreakageID + ");'></i>   <i class='layui-icon layui-icon-delete' title='删除' onclick='ShanChuBaoSun(" + data.BreakageID + ")'></i>    <i class='layui-icon layui-icon-vercode' title='审核' id='ck" + data.BreakageID + "' onclick='shenheyemian(" + data.BreakageID + ")' ></i>     </td></tr>");
                    if (data.State != 2) {
                        document.getElementById("ck" + data.BreakageID + "").style.display = "none";
                        document.getElementById("bj" + data.BreakageID + "").style.display = "none";
                    }
                    if (@ssss.RoleNum==2) {
                        document.getElementById("ck" + data.BreakageID + "").style.display = "none";
                    }
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }


    function rukuList(dss) {
        $.ajax({
            type: "POST",
            url: "/XBY/BaoSunList",
            data: "{PageIndex:" + pageIndex + ",pageSize:" + pageSize + ",State:" + dss + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tt tr").remove();
                rowss = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tt").append("<tr><td><input type='checkbox' id='" + data.BreakageID + "'/></td><td>" + data.BreakageID + "</td><td>" + data.BreakageType + "</td><td>" + data.AssociatedNumber + "</td><td>" + data.BreakageCount + "</td><td>" + ZTString(data.State) + "</td><td>" + data.operationType + "</td><td>" + data.EmployeeID + "</td><td>" + ConvertDate(data.CreationTime) + "</td><td><i class='layui-icon layui-icon-edit' id='bj" + data.BreakageID + "' title='编辑'></i> <i class='layui-icon layui-icon-file-b' title='详情' onclick='show3(" + data.BreakageID + ");'></i>   <i class='layui-icon layui-icon-delete' title='删除' onclick='ShanChuBaoSun(" + data.BreakageID + ")'></i>    <i class='layui-icon layui-icon-vercode' title='审核' id='ck" + data.BreakageID + "' onclick='shenheyemian(" + data.BreakageID + ")' ></i>     </td></tr>");
                    if (data.State != 2) {
                        document.getElementById("ck" + data.BreakageID + "").style.display = "none";
                        document.getElementById("bj" + data.BreakageID + "").style.display = "none";
                    }
                    if (@ssss.RoleNum==2) {
                        document.getElementById("ck" + data.BreakageID + "").style.display = "none";
                    }
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }

    function MoHuBaoSunList() {
        $.ajax({
            type: "POST",
            url: "/XBY/MoHuBaoSunList",
            data: "{PageSize:" + pageSize + ",PageIndex:" + pageIndex + ",Danhao:'" + $("#danhaoh").val() + "',time1:'" + $("#time1").val() + "',time2:'" + $("#time2").val() + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tt tr").remove();
                rowss = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tt").append("<tr><td><input type='checkbox' id='" + data.BreakageID + "'/></td><td>" + data.BreakageID + "</td><td>" + data.BreakageType + "</td><td>" + data.AssociatedNumber + "</td><td>" + data.BreakageCount + "</td><td>" + ZTString(data.State) + "</td><td>" + data.operationType + "</td><td>" + data.EmployeeID + "</td><td>" + ConvertDate(data.CreationTime) + "</td><td><i class='layui-icon layui-icon-edit' id='bj" + data.BreakageID + "' title='编辑'></i> <i class='layui-icon layui-icon-file-b' title='详情' onclick='show3(" + data.BreakageID + ");'></i>   <i class='layui-icon layui-icon-delete' title='删除' onclick='ShanChuBaoSun(" + data.BreakageID + ")'></i>    <i class='layui-icon layui-icon-vercode' title='审核' id='ck" + data.BreakageID + "' onclick='shenheyemian(" + data.BreakageID + ")' ></i>     </td></tr>");
                    if (data.State != 2) {
                        document.getElementById("ck" + data.BreakageID + "").style.display = "none";
                        document.getElementById("bj" + data.BreakageID + "").style.display = "none";
                    }
                    if (@ssss.RoleNum==2) {
                        document.getElementById("ck" + data.BreakageID + "").style.display = "none";
                    }
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }

    function ZTString(id) {
        if (id == 2) {
            return "等待审核";
        } else if (id == 1) {
            return "审核成功";
        }
        else if (id == 0) {
            return "审核失败";
        }
    }

    //删除报损单
    function ShanChuBaoSun(id) {
        //$("#" + id + "").prop("checked", true);

        //判断按钮是否选中
        if ($("#" + id + "").is(":checked") == true) {
            $.ajax({
                type: "POST",
                url: "/XBY/ShanChuBaoSun",
                data: "{id:'" + id + "'}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("删除成功");
                        SuoyouList();//重新加载全部数据
                    }
                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);

                }
            });
        } else {
            alert("未选择数据！");
        }

    }

    function ConvertDate(date) {
        var time = new Date(parseInt(date.substr(6)));
        return time.toLocaleDateString();
    }
</script>
