
@{
    ViewBag.Title = "ChukuGuanli";
    Layout = "~/Views/MainPage.cshtml";
}

<link href="~/Css/bootstrap.min.css" rel="stylesheet" />



<div style=" border:0px solid #4cff00;width:95%;">
    <div style="height:50px;background-color:#e7e7e7;">
        <div style="width:150px;margin-left:15px;font-weight:600;padding-top:15px;color:#373737">出库管理</div>
    </div>
</div>
<div style="border:0px solid #4cff00;width:95%;">
    <div style="padding:15px;border:1px solid red">
        <button class="btn btn-default" onclick="Suoyou()">所有</button>
        <button class="btn btn-default" id="daish">待审核</button>
        <button class="btn btn-default" id="shenhetg">审核通过</button>
        <button class="btn btn-default" id="shenhesb">审核失败</button>
        <input class="btn btn-primary" id="xxzz" type="button" onclick="TiaoADD()" value="新增" style="width:80px;margin-left:52%" />


        <input class="btn btn-danger" type="button" value="删除" style="width:80px;" />
        <input class="btn btn-info" type="button" value="导出" style="width:80px;" />

        <div style="padding-top:8px;display:flex;margin-bottom:20px">
            <input type="text" class="form-control" id="danhaoh" placeholder="请输入入库单号" style="width:170px;margin-right:10px" />
            <div style="padding-top:6px;margin-right:5px;">时间</div>
            <input class="form-control" id="time1" style="width:170px;margin-right:10px">
            <div style="padding-top:6px;margin-right:5px;">-</div>
            <input id="time2" class="form-control" style="width:170px;margin-right:10px">

            <input class="btn btn-info" type="button" onclick="MoHuChuKuList()" value="搜索" style="width:80px;margin-right:5px" />
            <input class="btn btn-primary" type="button" value="高级搜索" style="width:100px;" />
        </div>

        <div style="">
            <table style="width:100%;" class="table table-striped">
                <thead>
                    <tr style="font-weight:600">
                        <td><input type='checkbox' /></td>
                        <td>出库单编号</td>
                        <td>出库类型</td>
                        <td>客户名称</td>
                        <td>关联订单</td>
                        <td>总数量</td>
                        <td>总金额</td>
                        <td>状态</td>
                        <td>操作方式</td>
                        <td>制单人</td>
                        <td>创建时间</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody id="tt"></tbody>
            </table>



            @*layui分页*@
            <div id="pageDome">

            </div>
        </div>


    </div>
</div>

<div id="hideID3" style="display:none">
    <div>
        <table class="table table-bordered">
            <tr>
                <td>出库单号</td>
                <td class="rukdh"></td>
                <td>类型</td>
                <td class="ruklx"></td>
                <td>状态</td>
                <td class="rukzt"></td>
            </tr>
            <tr>
                <td>客户编号</td>
                <td class="rukgysid"></td>
                <td>客户  名称</td>
                <td class="rukgysname"></td>
                <td>联系人</td>
                <td class="ruklianxiren"></td>
            </tr>
            <tr>
                <td>关联订单号</td>
                <td class="rukgldd"></td>
                <td>创建人</td>
                <td class="rukcjr"></td>
                <td>创建时间</td>
                <td class="rukgltime"></td>
            </tr>
            <tr>
                <td>电话</td>
                <td class="rukdianhua"></td>
                <td>地址</td>
                <td class="rukbeizhu" colspan="3"></td>
            </tr>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <td>产品名称</td>
                    <td>产品条码</td>
                    <td>产品编号</td>
                    <td>批次</td>
                    <td>单价</td>
                    <td>总价</td>
                    <td>规格</td>
                    <td>出库数</td>
                    <td>出库库位</td>
                </tr>
            </thead>
            <tbody id="xiangqingbiae"></tbody>
        </table>
    </div>
</div>






<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    var pageIndex = 1;
    var pageSize = 10;
    var rowss;
    var state = 2;
    $(function () {
        rukuList(state);

        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;

            //完整功能
            laypage.render({
                elem: 'pageDome'
                , count: rowss
                , limit: 3
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {
                    pageIndex = obj.curr;
                    pageSize = obj.limit;
                    rukuList(state);
                }
            });
        });


        $("#daish").click(function () {
            rukuList(2);
        })
        $("#shenhetg").click(function () {
            rukuList(1);
        })
        $("#shenhesb").click(function () {
            rukuList(0);
        })

    })


    function show3(rid) {

        $("#xiangqingbiae tr").remove();
        layui.use('layer', function () { //独立版的layer无需执行这一句
            var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

            layer.open({
                type: 1,
                skin: 'layui-layer-demo', //样式类名
                title: ['出库单详细', 'font-size:18px'],
                area: ['850px', '400px'],
                shadeClose: true,
                content: $('#hideID3'), //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                btn: ['按钮', '退出'],
                btn1: function (index, layero) {
                    // 按钮1的逻辑
                },
                btn2: function (index, layero) {
                    // 按钮2的逻辑
                },
                cancel: function () {
                    // 右上角关闭事件的逻辑
                }
            });

        });

        $.ajax({
            type: "post",
            url: "/XBY/IDChuku",
            data: "{Danhao:'" + rid + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $(".rukdh").text(data.StockRemovalID);
                    $(".ruklx").text(data.StockRemovalType);
                    if (data.State == 2) {
                        $(".rukzt").text("待审核");
                    }
                    if (data.State == 1) {
                        $(".rukzt").text("审核通过");
                    }
                    if (data.State == 0) {
                        $(".rukzt").text("审核失败");
                    }
                    $(".rukgysid").text(data.SupplierID);

                    $(".rukgysname").text(data.KhName);
                    $(".ruklianxiren").text();//联系人
                    $(".rukgldd").text(data.AssociatedNumber);
                    $(".rukcjr").text(data.EmployeeID);
                    $(".rukgltime").text(ConvertDate(data.CreationTime));
                    $(".rukdianhua").text(data.dianhua);
                    $(".rukbeizhu").text();;//地址

                    $.each(data.xiangbiao, function (index, data1) {
                        $("#xiangqingbiae").append("<tr><td>" + data1.productName + "</td><td>" + data1.cptiaoma + "</td><td>" + data1.cpid + "</td><td>" + data1.Batch + " </td><td>" + data1.Price + "</td><td>" + data1.Summoney + "</td><td>" + data1.guige + "</td><td>" + data1.StockRemovalNumber + "</td><td>" + data1.kuweiname + "</td></tr>")
                    })
                });


            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }



    

    //跳转到新增chu库单号
    function TiaoADD() {
        location.href = '/XBY/ChukuGuanliAdd'
    }


    function Suoyou() {
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;

            //完整功能
            laypage.render({
                elem: 'pageDome'
                , count: rowss
                , limit: 3
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {
                    pageIndex = obj.curr;
                    pageSize = obj.limit;
                    SuoyouList();
                }
            });
        });
    }

    function SuoyouList() {
        $.ajax({
            type: "POST",
            url: "/XBY/SuoYouChuKuList",
            data: "{PageSize:" + pageSize + ",PageIndex:" + pageIndex + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tt tr").remove();
                rowss = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tt").append("<tr><td><input type='checkbox'/></td><td>" + data.StockRemovalID + "</td><td>" + data.StockRemovalType + "</td><td>" + data.SupplierID + "</td><td>" + data.AssociatedNumber + "</td><td>" + data.GoodsCount + "</td><td>" + data.Summoney + "</td><td>" + data.State + "</td><td>" + data.OperationType + "</td><td>" + data.EmployeeID + "</td><td>" + ConvertDate(data.CreationTime) + "</td><td><i class='layui-icon layui-icon-edit' title='编辑'></i> <i class='layui-icon layui-icon-file-b' title='详情' onclick='show3(" + data.StockRemovalID + ");'></i>   <i class='layui-icon layui-icon-delete' title='删除'></i>        </td></tr>");
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }


    function rukuList(dss) {
        $.ajax({
            type: "POST",
            url: "/XBY/ChuKuList",
            data: "{PageIndex:" + pageIndex + ",pageSize:" + pageSize + ",State:" + dss + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tt tr").remove();
                rowss = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tt").append("<tr><td><input type='checkbox'/></td><td>" + data.StockRemovalID + "</td><td>" + data.StockRemovalType + "</td><td>" + data.SupplierID + "</td><td>" + data.AssociatedNumber + "</td><td>" + data.GoodsCount + "</td><td>" + data.Summoney + "</td><td>" + data.State + "</td><td>" + data.OperationType + "</td><td>" + data.EmployeeID + "</td><td>" + ConvertDate(data.CreationTime) + "</td><td><i class='layui-icon layui-icon-edit' title='编辑'></i> <i class='layui-icon layui-icon-file-b' title='详情' onclick='show3(" + data.StockRemovalID + ")'></i>   <i class='layui-icon layui-icon-delete' title='删除'></i>        </td></tr>");
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });

    }

    function MoHuChuKuList() {
        $.ajax({
            type: "POST",
            url: "/XBY/MoHuChuKuList",
            data: "{PageSize:" + pageSize + ",PageIndex:" + pageIndex + ",Danhao:'" + $("#danhaoh").val() + "',time1:'" + $("#time1").val() + "',time2:'" + $("#time2").val() + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tt tr").remove();
                rowss = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tt").append("<tr><td><input type='checkbox'/></td><td>" + data.StockRemovalID + "</td><td>" + data.StockRemovalType + "</td><td>" + data.SupplierID + "</td><td>" + data.AssociatedNumber + "</td><td>" + data.GoodsCount + "</td><td>" + data.Summoney + "</td><td>" + data.State + "</td><td>" + data.OperationType + "</td><td>" + data.EmployeeID + "</td><td>" + ConvertDate(data.CreationTime) + "</td><td><i class='layui-icon layui-icon-edit' title='编辑'></i> <i class='layui-icon layui-icon-file-b' title='详情' onclick='show3(" + data.StockRemovalID + ")'></i>   <i class='layui-icon layui-icon-delete' title='删除'></i>        </td></tr>");
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }

    function ConvertDate(date) {
        var time = new Date(parseInt(date.substr(6)));
        return time.toLocaleDateString();
    }
</script>
