
@{
    ViewBag.Title = "CukuGuanliXiuGai";
    Layout = "~/Views/MainPage.cshtml";
    Models.Admin stu = Session["user"] as Models.Admin;
}

<link href="~/Css/bootstrap.min.css" rel="stylesheet" />
<link href="~/layui/css/layui.css" rel="stylesheet" />


<div style=" border:0px solid #4cff00;width:95%;">
    <div style="height:50px;background-color:#e7e7e7;">
        <div style="width:150px;margin-left:15px;font-weight:600;padding-top:15px;color:#373737">新增出库单</div>
    </div>
</div>
<div style="border:0px solid #4cff00;width:95%;">
    <div style="padding:15px;border:1px solid #808080">
        <div style="margin:10px;border:1px solid #e7e7e7;padding:5px;padding-bottom:22px;">
            <div style="display:flex">
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">出库单编号</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">出库单类型</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">关联订单号</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">发货日期</div>
            </div>
            <div style="display:flex">
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:20px;">
                    <input type="text" class="form-control" id="ChuKuRandom" placeholder="可不填自动生成" readonly>
                </div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:20px;">
                    <select class="form-control" id="chukuleixing">
                        <option value="销售提货出库">销售提货出库</option>
                        <option value="采购退货出库">采购退货出库</option>
                        <option value="领用出库">领用出库</option>
                        <option value="接货出库">接货出库</option>
                        <option value="借出换入">借出换入</option>
                    </select>
                </div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:20px;">
                    <input type="text" class="form-control">
                </div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:20px;">
                    <input type="text" class="form-control" id="FaHuoTime">
                </div>
            </div>
            <div style="display:flex">
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">客户编号</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">客户名称</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">客户地址</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">客户联系方式</div>
            </div>
            <div style="display:flex">
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:10px;">
                    <input type="text" class="form-control" id="Khbh" readonly>
                </div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:10px;">
                    <select class="form-control" id="kehulist" onchange="IdKh()">
                        <option value="请选择">请选择</option>
                    </select>
                </div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:10px;">
                    <select class="form-control" id="Khdizhi" onchange="idDZ()">
                        <option>请选择</option>
                    </select>
                </div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:10px;">
                    <input type="text" class="form-control" id="Khsdianhua" readonly>
                </div>
            </div>
            <div style="display:flex">
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">联系人</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">制单人</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">备注</div>
            </div>
            <div style="display:flex">
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:10px;">
                    <input type="text" class="form-control" id="Lianxiren">
                </div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:10px;">
                    <input type="text" class="form-control" id="zhidanrendl">
                </div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:10px;">
                    <input type="text" class="form-control" id="beizhuxinxi">
                </div>

            </div>
        </div>

        <div style="margin:10px;border:1px solid #e7e7e7;padding:5px;padding-bottom:22px;">
            <table class="table table-striped table-bordered table-hover" id="tabInfo">
                <thead>
                    <tr class="widget-title">
                        <th class="hidden-480">产品编号</th>
                        <th class="hidden-480">产品名称</th>
                        <th class="hidden-480">产品条码</th>
                        <th class="hidden-480">产品编号</th>
                        <th class="hidden-480">批次</th>
                        <th class="hidden-480">单价</th>
                        <th class="hidden-480">总价</th>
                        <th class="hidden-480">规格</th>
                        <th class="hidden-480">出库数</th>
                        <th class="hidden-480">库存</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="tb1"></tbody>
            </table>
            <table class="table table-striped table-bordered table-hover" id="tabInfo">
                <thead>
                    <tr class="widget-title">
                        <th class="hidden-480">产品编号</th>
                        <th class="hidden-480">产品名称</th>
                        <th class="hidden-480">产品单价</th>
                        <th class="hidden-480">库位</th>
                        <th class="hidden-480">现有库存</th>
                    </tr>
                </thead>
                <tbody id="tb2"></tbody>
            </table>
            @*layui分页*@
            <div id="pageDome">

            </div>

            <button type="submit" class="btn btn-primary" onclick="ChuKuAdd()">保存</button>
            <button type="button" class="btn">取消</button>
        </div>


    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<script>
    var pageIndex = 1;
    var pageSize = 5;
    var pageCount = 0;
    var rowss = 0;
    var info = [];

     var Cdh =@Request.QueryString["id"].ToString();//传过来的单号

    $(function () {
        KeHuList();//查询客户信息绑定到下拉框

        cpList();//产品
        IDChuku();//订单详情



        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;

            //完整功能
            laypage.render({
                elem: 'pageDome'
                , count: rowss
                , limit: 5
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {
                    pageIndex = obj.curr;
                    pageSize = obj.limit;
                    cpList();
                }
            });
        });

    })

    //页面进来查询这个订单所有的信息并显示
    function IDChuku() {
        $.ajax({
            type: "POST",
            url: "/XBY/IDChuku",
            data: "{Danhao:" + Cdh + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tb1 tr").remove();
                $.each(result, function (index, data1) {
                    $("#ChuKuRandom").val(data1.StockRemovalID);
                    $("#chukuleixing").val(data1.StockRemovalType);
                    $("#zhidanrendl").val(data1.EmployeeID);
                    $("#Khbh").val(data1.SupplierID);
                    $("#kehulist").val(data1.SupplierID);
                    $("#Khdizhi").val(data1.lianxiren);
                    $("#gysdianhua").val(data1.dianhua);
                    $("#zhidanTime").val(ConvertDate(data1.CreationTime));
                    $("#beizhuxinxi").val(data1.StateText);

                    $.each(data1.xiangbiao, function (index, data) {
                        $("#tb1").append("<tr><td>" + data.cpid + "</td><td>" + data.productName + "</td><td>" + data.cptiaoma + "</td><td>" + data.cpguige + "</td><td>" + data.cpjiage + "</td><td><input name='" + data.cptiaoma + "' type='text' value='" + data.StorageNumber + "' onchange='www(" + data.cptiaoma + "," + data.Price + ")' /></td><td id='" + data.cptiaoma + "'>" + data.Summoney + "</td><td>" + data.kuweiname + "</td> <td><i class='layui-icon layui-icon-edit' title='编辑'></i>  <i class='layui-icon layui-icon-delete' title='删除'></i>        </td></tr>");
                    });
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }





    function cpList() {
        $.ajax({
            type: "POST",
            url: "/LLQ/GetCpGlAll",
            data: "{PageIndex:" + pageIndex + ",PageSize:" + pageSize + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tb2 tr").remove();
                rowss = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tb2").append("<tr onclick='SelectChanPin(" + data.CpID + ")'><td>" + data.CpID + "</td><td>" + data.CpXsName + "</td><td>" + data.CpPrice + "</td><td>" + data.KwName + "</td><td>" + data.CpShuLiang + "</td></tr>");
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }


    function www(ff, danjia, kucun) {
        var chukushu = document.getElementsByName(ff);
        //alert(danjia);
        //alert(rukushu[0].value);
        //alert(kucun);
        if (chukushu[0].value < kucun) {
            $("#" + ff + "").text(danjia * chukushu[0].value);
        } else {
            alert("没这么多库存了！");
            $("input[name='" + ff + "']").val(1);
            $("#" + ff + "").text(danjia * 1);
        }


    }

    function SelectChanPin(id) {
        $.ajax({
            type: "POST",
            url: "/XBY/IDCanPin",
            data: "{id:" + id + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("#tb1").append("<tr><td>" + data.CpID + "</td><td>" + data.CpXsName + "</td><td>" + data.Cpbh + "</td><td>" + data.CpID + "</td><td></td><td>" + data.CpPrice + "</td><td id='" + data.Cpbh + "'></td><td>" + data.Specification + "</td><td><input name='" + data.Cpbh + "' type='text' onchange='www(" + data.Cpbh + "," + data.CpPrice + "," + data.CpShuLiang + ")' /> </td><td>" + data.CpShuLiang + "</td><td><i class='layui-icon layui-icon-edit' title='编辑'></i>  <i class='layui-icon layui-icon-delete' title='删除'></i>        </td></tr>");

                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }


    function KeHuList() {
        $.ajax({
            type: "POST",
            url: "/XBY/KeHuList",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("#kehulist").append("<option value='" + data.ID + "'>" + data.KhName + "</option>");
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }

    function IdKh() {
        //alert(document.getElementById("gysname").value);
        if (document.getElementById("kehulist").value != "请选择") {
            $.ajax({
                type: "POST",
                url: "/XBY/KeHuID",
                data: "{id:'" + document.getElementById("kehulist").value + "'}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    $.each(result, function (index, data) {
                        $("#Khbh").val(data.KhID);
                        $("#Khdizhi option").remove();
                        $("#Khdizhi").append("<option value='请选择'>请选择</option>");
                        $("#Khsdianhua").val(null);
                        $("#Lianxiren").val(null);
                        $.each(data.dizhi, function (index, datadz) {
                            $("#Khdizhi").append("<option value='" + datadz.ID + "'>" + datadz.CustomerAddressName + "</option>");
                        })
                    });
                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);

                }
            });
        } else {
            $("#Khbh").val(null);
            $("#Khdizhi option").remove();
            $("#Khdizhi").append("<option value='请选择'>请选择</option>");
            $("#Khsdianhua").val(null);
            $("#Lianxiren").val(null);
        }
    }

    function idDZ() {
        //alert(document.getElementById("Khdizhi").value);
        if (document.getElementById("Khdizhi").value != "请选择") {
            $.ajax({
                type: "POST",
                url: "/XBY/IdDz",
                data: "{id:'" + document.getElementById("Khdizhi").value + "'}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    $.each(result, function (index, data) {

                        $("#Khsdianhua").val(data.phone);
                        $("#Lianxiren").val(data.Lianxiren);

                    });
                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);

                }
            });
        } else {
            $("#Khsdianhua").val(null);
            $("#Lianxiren").val(null);
        }
    }





    function ChuKuAdd() {
        var num = $("#tb1 tr").length;
        for (var i = 0; i < num; i++) {
            var obj = {};
            obj.ProductID = $("#tb1 tr").eq(i).children("td").eq(0).text()
            obj.Price = $("#tb1 tr").eq(i).children("td").eq(5).text();
            obj.StockRemovalNumber = $("#tb1 tr").eq(i).children("td").eq(8).children("input").val();
            obj.Summoney = $("#tb1 tr").eq(i).children("td").eq(5).children("input").val() * $("#tb1 tr").eq(i).children("td").eq(8).text();
            //alert($("#tb1 tr").eq(i).children("td").eq(6).text());
            //$("#tb1 tr").eq(i).children("td").eq(7).text()
            obj.WarehouseID = @stu.AdminID;
            obj.StockRemovalIDS = danhapsuiji;
            //console.log(obj)
            info.push(obj);


        }
        //console.log(info)


        if ($("#Khbh").val() == "") {
            alert("请选择客户后添加！");
        }
        else {
            var rukuzongshu = 0;//定义总数量
            var rukuzongjia = 0;//定义总价
            for (var i = 0; i < info.length; i++) {
                rukuzongshu += parseInt(info[i].StockRemovalNumber) ;
                rukuzongjia += parseInt(info[i].Summoney);
            }
            //alert(rukuzongshu);
            //alert(rukuzongjia);


            $.ajax({
                type: "POST",
                url: "/XBY/ChuKuAddZhu",
                data: "{zhu:{StockRemovalID:'" + danhapsuiji + "',StockRemovalType:'" + $("#chukuleixing").val() + "',SupplierID:'" + $("#Khbh").val() + "',EmployeeID:'" + @stu.AdminID + "',GoodsCount:'" + rukuzongshu + "',Summoney:'" + rukuzongjia + "',StateText:'" + $("#beizhuxinxi").val() + "'}}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    AddXiang();
                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);

                }
            });
        }
    }

    function AddXiang() {
        for (var i = 0; i < info.length; i++) {
            $.ajax({
                type: "POST",
                url: "/XBY/AddChuKuXiang",
                data: "{xiang:{StockRemovalIDS:'" + info[i].StockRemovalIDS + "',ProductID:'" + info[i].ProductID + "',Price:'" + info[i].Price + "',StockRemovalNumber:'" + info[i].StockRemovalNumber + "',Summoney:'" + info[i].Summoney + "',WarehouseID:'" + info[i].WarehouseID + "'}}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {

                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);

                }
            });
        }
        alert("添加成功");
        location.href = "/XBY/ChukuGuanli"
    }


    function ConvertDate(date) {
        var time = new Date(parseInt(date.substr(6)));
        return time.toLocaleDateString();
    }
</script>

