
@{
    ViewBag.Title = "PanDianGuanli";
    Layout = "~/Views/MainPage.cshtml";
}

<link href="~/Css/bootstrap.min.css" rel="stylesheet" />


<div style="border:0px solid #4cff00;width:95%;">
    <div style="height:50px;background-color:#e7e7e7;">
        <div style="width:150px;margin-left:15px;font-weight:600;padding-top:15px;color:#373737">盘点单管理</div>
    </div>
</div>
<div style="border:0px solid #4cff00;width:95%;">
    <div style="padding:15px;border:1px solid red">
        <button class="btn btn-default" onclick="Suoyou()">所有</button>
        <button class="btn btn-default" id="daish">待审核</button>
        <button class="btn btn-default" id="shenhetg">审核通过</button>
        <button class="btn btn-default" id="shenhesb">审核失败</button>
        <input class="btn btn-primary" type="button" onclick="TiaoADD()" value="新增" style="width:80px;margin-left:52%" />
        <input class="btn btn-danger" type="button" value="删除" style="width:80px;" />
        <input class="btn btn-info" type="button" value="导出" style="width:80px;" />

        <div style="padding-top:8px;display:flex;margin-bottom:20px">
            <input type="text" class="form-control" placeholder="请输入盘点单号" id="danhaoh" style="width:170px;margin-right:10px" />
            <div style="padding-top:6px;margin-right:5px;">时间</div>
            <input  id="time1" class="form-control" style="width:170px;margin-right:10px">
            <div style="padding-top:6px;margin-right:5px;">-</div>
            <input  id="time2" class="form-control" style="width:170px;margin-right:10px">

            <input class="btn btn-info" type="button" onclick="MoHuPanDianList()" value="搜索" style="width:80px;margin-right:5px" />
            <input class="btn btn-primary" type="button" value="高级搜索" style="width:100px;" />
        </div>

        <div style="">
            <table style="width:100%;" class="table table-striped">
                <thead>
                    <tr style="font-weight:600">
                        <td><input type='checkbox' /></td>
                        <td>盘点单号</td>
                        <td>盘点类型</td>
                        <td>关联单号</td>
                        <td>状态</td>
                        <td>制单人</td>
                        <td>创建时间</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody id="tt"></tbody>
            </table>

            @*layui分页*@
            <div id="pageDome">

            </div>
        </div>


    </div>
</div>




<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    var pageIndex = 1;
    var pageSize = 10;
    var rowss = 0;
    var state = 2;
    $(function () {
        rukuList(state);

        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;

            //完整功能
            laypage.render({
                elem: 'pageDome'
                , count: rowss
                , limit: 3
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {
                    pageIndex = obj.curr;
                    pageSize = obj.limit;
                    rukuList(state);
                }
            });
        });


        $("#daish").click(function () {
            rukuList(2);
        })
        $("#shenhetg").click(function () {
            rukuList(1);
        })
        $("#shenhesb").click(function () {
            rukuList(0);
        })

    })


   

    //跳转到新增盘点单号
    function TiaoADD() {
        location.href = '/XBY/PanDianGuanliAdd'
    }

    function Suoyou() {
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;

            //完整功能
            laypage.render({
                elem: 'pageDome'
                , count: rowss
                , limit: 3
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {
                    pageIndex = obj.curr;
                    pageSize = obj.limit;
                    SuoyouList();
                }
            });
        });
    }

    function SuoyouList() {
        $.ajax({
            type: "POST",
            url: "/XBY/SuoYouPanDianList",
            data: "{PageSize:" + pageSize + ",PageIndex:" + pageIndex + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tt tr").remove();
                rowss = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tt").append("<tr><td><input type='checkbox' id='" + data.CycleCountID + "'/></td><td>" + data.CycleCountID + "</td><td>" + data.CycleCountType + "</td><td>" + data.AssociatedNumber + "</td><td>" + data.State + "</td><td>" + data.UserName + "</td><td>" + ConvertDate(data.CreationTime) + "</td><td><i class='layui-icon layui-icon-edit' title='编辑'></i> <i class='layui-icon layui-icon-file-b' title='详情'></i>   <i class='layui-icon layui-icon-delete' title='删除' onclick='ShanChuPanDian(" + data.CycleCountID + ")'></i>        </td></tr>");
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }

    function rukuList(dss) {
        $.ajax({
            type: "POST",
            url: "/XBY/PanDianList",
            data: "{PageIndex:" + pageIndex + ",pageSize:" + pageSize + ",State:" + dss + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tt tr").remove();
                rowss = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tt").append("<tr><td><input type='checkbox' id='" + data.CycleCountID + "'/></td><td>" + data.CycleCountID + "</td><td>" + data.CycleCountType + "</td><td>" + data.AssociatedNumber + "</td><td>" + data.State + "</td><td>" + data.UserName + "</td><td>" + ConvertDate(data.CreationTime) + "</td><td><i class='layui-icon layui-icon-edit' title='编辑'></i> <i class='layui-icon layui-icon-file-b' title='详情'></i>   <i class='layui-icon layui-icon-delete' title='删除' onclick='ShanChuPanDian(" + data.CycleCountID + ")'></i>        </td></tr>");
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }

    function MoHuPanDianList() {
        $.ajax({
            type: "POST",
            url: "/XBY/MoHuPanDianList",
            data: "{PageSize:" + pageSize + ",PageIndex:" + pageIndex + ",Danhao:'" + $("#danhaoh").val() + "',time1:'" + $("#time1").val() + "',time2:'" + $("#time2").val() + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tt tr").remove();
                rowss = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tt").append("<tr><td><input type='checkbox' id='" + data.CycleCountID + "'/></td><td>" + data.CycleCountID + "</td><td>" + data.CycleCountType + "</td><td>" + data.AssociatedNumber + "</td><td>" + data.State + "</td><td>" + data.UserName + "</td><td>" + ConvertDate(data.CreationTime) + "</td><td><i class='layui-icon layui-icon-edit' title='编辑'></i> <i class='layui-icon layui-icon-file-b' title='详情'></i>   <i class='layui-icon layui-icon-delete' title='删除' onclick='ShanChuPanDian(" + data.CycleCountID + ")'></i>        </td></tr>");
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }

    //删除盘点单
    function ShanChuPanDian(id) {
        //$("#" + id + "").prop("checked", true);

        //判断按钮是否选中
        if ($("#" + id + "").is(":checked") == true) {
            $.ajax({
                type: "POST",
                url: "/XBY/ShanChuPanDian",
                data: "{id:'" + id + "'}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("删除成功");
                        SuoyouList();//重新加载全部数据
                    }
                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);

                }
            });
        } else {
            alert("未选择数据！");
        }

    }


    function ConvertDate(date) {
        var time = new Date(parseInt(date.substr(6)));
        return time.toLocaleDateString();
    }
</script>

