
@{
    ViewBag.Title = "RukuGuanliAdd";
    Layout = "~/Views/MainPage.cshtml";
    Models.Admin stu = Session["user"] as Models.Admin;
}

<link href="~/Css/bootstrap.min.css" rel="stylesheet" />
<link href="~/layui/css/layui.css" rel="stylesheet" />

<div style=" border:0px solid #4cff00;width:95%;">
    <div style="height:50px;background-color:#e7e7e7;">
        <div style="width:150px;margin-left:15px;font-weight:600;padding-top:15px;color:#373737">新增入库单</div>
    </div>
</div>
<div style="border:0px solid #4cff00;width:95%;">
    <div style="padding:15px;border:1px solid #808080">
        <div style="margin:10px;border:1px solid #e7e7e7;padding:5px;padding-bottom:22px;">
            <div style="display:flex">
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">入库单编号</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">入库单类型</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">关联订单号</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">制单人</div>
            </div>
            <div style="display:flex">
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:20px;">
                    <input type="text" class="form-control" id="rukudanhsuiji" placeholder="可不填自动生成" readonly>
                </div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:20px;">
                    <select class="form-control" id="rukuleixing1">
                        <option>采购收货入库</option>
                        <option>销售退货入库</option>
                        <option>生产产品入库</option>
                        <option>领用退还入库</option>
                        <option>接货入库</option>
                        <option>借出还入</option>
                    </select>
                </div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:20px;">
                    <input type="text" class="form-control">
                </div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:20px;">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div style="display:flex">
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">供应商编号</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">供应商名称</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">供应商联系人</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">供应商联系方式</div>
            </div>
            <div style="display:flex">
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:10px;">
                    <input type="text" class="form-control" id="gysbh" readonly>
                </div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:10px;">
                    <select class="form-control" id="gysname" onchange="IdGys(this)">
                        <option value="请选择">请选择</option>
                    </select>
                </div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:10px;">
                    <input type="text" class="form-control" id="gyslianxiren" readonly>
                </div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:10px;">
                    <input type="text" class="form-control" id="gysdianhua" readonly>
                </div>
            </div>
            <div style="display:flex">
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">制单时间</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">备注</div>

            </div>
            <div style="display:flex">
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:10px;">
                    <input type="text" class="form-control" id="zhidanTime">
                </div>
                <div style="text-align:left;width:620px;margin:5px;margin-right:33px;margin-bottom:10px;">
                    <input type="text" class="form-control" id="beizhuxinxi">
                </div>

            </div>
        </div>

        <div style="margin:10px;border:1px solid #e7e7e7;padding:5px;padding-bottom:22px;">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr class="widget-title">
                        <th class="hidden-480">产品编号</th>
                        <th class="hidden-480">产品名称</th>
                        <th class="hidden-480">产品条码</th>
                        <th class="hidden-480">规格</th>
                        <th class="hidden-480">单价</th>
                        <th class="hidden-480">入库数</th>
                        <th class="hidden-480">总价</th>
                        <th class="hidden-480">库位</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="tb1"></tbody>
            </table>
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr class="widget-title">
                        <th class="hidden-480">产品编号</th>
                        <th class="hidden-480">产品名称</th>
                        <th class="hidden-480">产品单价</th>
                        <th class="hidden-480">现有库存</th>
                        <th class="hidden-480">入库库位</th>
                        <th class="hidden-480">入库数量</th>
                    </tr>
                </thead>
                <tbody id="tb2"></tbody>
            </table>
            @*layui分页*@
            <div id="pageDome">

            </div>

            <button type="submit" class="btn btn-primary" onclick="ADD()">保存</button>
            <button type="button" class="btn" onclick="fanhuiRuKu()">取消</button>
        </div>


    </div>
</div>
<div style="width:720px;margin:20px auto;">
    <button type="button" id="btn">获取表格数据</button>
    <form action="" id="ht">
        <table id="dynamicTable">
            <tbody>
                <tr>
                    <td height="30" align="center">
                        <input type="text" name="name" size="2" value="1" />
                    </td>
                    <td align="center">
                        <input type="text" name="pre_price" />
                    </td>
                    <td align="center">
                        <input type="text" name="price" />
                    </td>
                    <td align="center">
                        <input type="text" name="total" />
                    </td>
                    <td>
                        <input type="button" id="Button1" value="删行">
                    </td>
                </tr>
                <tr>
                    <td height="30" align="center">
                        <input type="text" name="name" size="2" value="1" />
                    </td>
                    <td align="center">
                        <input type="text" name="pre_price" />2222
                    </td>
                    <td align="center">
                        <input type="text" name="price" />3333
                    </td>
                    <td align="center">
                        <input type="text" name="total" />444
                    </td>
                    <td>
                        <input type="button" id="Button1" value="删行">
                    </td>
                </tr>
            </tbody>
        </table>
        <button>提交数据</button>
    </form>
</div>




<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<script>
    var pageIndex = 1;
    var pageSize = 5;
    var pageCount = 0;
    var rowss = 0;
    var info = [];
    var danhapsuiji;


    $(function () {

        gysList();//供应商下拉框
        var addtime = new Date();
        $("#zhidanTime").val(addtime.toLocaleDateString());//赋值当前日期到页面


        //   根据当前时间和随机数生成流水号
        suijidanhao();


        rukuList();

        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;

            //完整功能
            laypage.render({
                elem: 'pageDome'
                , count: rowss
                , limit: 5
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {
                    pageIndex = obj.curr;
                    pageSize = obj.limit;
                    rukuList();
                }
            });
        });

    })


    function www(ff, danjia) {
        var rukushu = document.getElementsByName(ff);
        //alert(danjia);
        //alert(rukushu[0].value);
            $("#" + ff + "").text(danjia * rukushu[0].value);
    }

    //返回到入库查询页面
    function fanhuiRuKu() {
        location.href = '/XBY/RukuGuanli'
    }

    function ZhaoID(jj) {
        $.ajax({
            type: "POST",
            url: "/XBY/CpGlfenye",
            data: "{text:" + jj + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    cpid = data.CpID;
                    return cpid;
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }
    function ZhaoIDkuwei(ii) {
        $.ajax({
            type: "POST",
            url: "/XBY/Textkuw",
            data: "{text:'" + ii + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    return data.kwID;
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }




    function rukuList() {
        $.ajax({
            type: "POST",
            url: "/LLQ/GetCpGlAll",
            data: "{PageIndex:" + pageIndex + ",PageSize:" + pageSize + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tb2 tr").remove();
                rowss = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tb2").append("<tr onclick='SelectChanPin(" + data.CpID + ")'><td>" + data.CpID + "</td><td>" + data.CpXsName + "</td><td>" + data.CpPrice + "</td><td>" + data.CpShuLiang + "</td><td>" + data.KwName + "</td><td><i class='layui-icon layui-icon-edit' title='编辑'></i>  <i class='layui-icon layui-icon-delete' title='删除'></i>        </td></tr>");

                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }


    function SelectChanPin(id) {
        $.ajax({
            type: "POST",
            url: "/XBY/IDCanPin",
            data: "{id:" + id + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("#tb1").append("<tr><td>" + data.CpID + "</td><td>" + data.CpXsName + "</td><td>" + data.Cpbh + "</td><td>" + data.Specification + "</td><td>" + data.CpPrice + "</td><td><input name='" + data.Cpbh + "' type='text' onchange='www(" + data.Cpbh + "," + data.CpPrice + ")' /></td><td id='" + data.Cpbh + "'></td><td>" + data.KwName + "</td><td><i class='layui-icon layui-icon-edit' title='编辑'></i>  <i class='layui-icon layui-icon-delete' title='删除'></i>        </td></tr>");

                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }


    function gysList() {
        $.ajax({
            type: "POST",
            url: "/XBY/GYSlist",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("#gysname").append("<option value='" + data.GysID + "'>" + data.GysName + "</option>");

                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }
    function IdGys() {
        //alert(document.getElementById("gysname").value);
        if (document.getElementById("gysname").value != "请选择") {

            $.ajax({
                type: "POST",
                url: "/XBY/IdGys",
                data: "{id:'" + document.getElementById("gysname").value + "'}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    $.each(result, function (index, data) {
                        $("#gysbh").val(data.GysID);
                        $("#gyslianxiren").val(data.Contacts);
                        $("#gysdianhua").val(data.Hone);

                    });
                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);

                }
            });
        } else {
            $("#gysbh").val(null);
            $("#gyslianxiren").val(null);
            $("#gysdianhua").val(null);

        }
    }


    function ADD() {
        var num = $("#tb1 tr").length;
        for (var i = 0; i < num; i++) {
            var obj = {};
            obj.productID = $("#tb1 tr").eq(i).children("td").eq(0).text()
            obj.Price = $("#tb1 tr").eq(i).children("td").eq(4).text();
            obj.StorageNumber = $("#tb1 tr").eq(i).children("td").eq(5).children("input").val();
            obj.Summoney = $("#tb1 tr").eq(i).children("td").eq(5).children("input").val() * $("#tb1 tr").eq(i).children("td").eq(4).text();
            //alert($("#tb1 tr").eq(i).children("td").eq(6).text());
            //$("#tb1 tr").eq(i).children("td").eq(7).text()
            obj.WarehouseID = 1;
            obj.StorageIDS = danhapsuiji;
            console.log(obj)
            info.push(obj);


        }
        console.log(info)
        // })

        //alert(info.length);
        //alert(info[0].productID);

        if ($("#gysbh").val() == "") {
            alert("请选择供应商后添加！");
        }
        else {
            var rukuzongshu = 0;//定义总数量
            var rukuzongjia = 0;//定义总价
            for (var i = 0; i < info.length; i++) {
                rukuzongshu += parseInt(info[i].StorageNumber) ;
                rukuzongjia += parseInt(info[i].Summoney);
            }
            //alert(rukuzongshu);
            //alert(rukuzongjia);

            if (info.length > 0) {

                $.ajax({
                    type: "POST",
                    url: "/XBY/ADDRuku",
                    data: "{zhu:{StorageID:'" + danhapsuiji + "',StorageType:'" + $("#rukuleixing1").val() + "',SupplierID:'" + $("#gysbh").val() + "',EmployeeID:'" + @stu.AdminID + "',GoodsCount:'" + rukuzongshu + "',Summoney:'" + rukuzongjia + "',StateText:'" + $("#beizhuxinxi").val() + "'}}",
                    dataType: "json",
                    contentType: "application/json",
                    success: function (result) {
                        AddXiang();
                    },
                    error: function (ex) {
                        alert("Error:" + ex.responseText);

                    }
                });
            } else
            {
                alert("请选择产品后再继续！");
            }
        }

    }

    function AddXiang() {
        for (var i = 0; i < info.length; i++) {
            $.ajax({
                type: "POST",
                url: "/XBY/ADDRukuxiang",
                data: "{xiang:{StorageIDS:'" + info[i].StorageIDS + "',productID:'" + info[i].productID + "',Price:'" + info[i].Price + "',StorageNumber:'" + info[i].StorageNumber + "',Summoney:'" + info[i].Summoney + "',WarehouseID:'" + info[i].WarehouseID + "'}}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {

                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);

                }
            });
        }
        alert("添加成功");
        location.href = "/XBY/RukuGuanli"
    }


    //   根据当前时间和随机数生成流水号
    function suijidanhao() {
        var now = new Date()
        var month = now.getMonth() + 1
        var day = now.getDate()
        var hour = now.getHours()
        var minutes = now.getMinutes()
        var seconds = now.getSeconds()
        //month = now.setTimeDateFmt(month)
        //hour = now.setTimeDateFmt(hour)
        //minutes = now.setTimeDateFmt(minutes)
        //seconds = this.setTimeDateFmt(seconds)
        danhapsuiji = now.getFullYear().toString() + month.toString() + day + hour + minutes + seconds + (Math.round(Math.random() * 89 + 100)).toString()
        $("#rukudanhsuiji").val(danhapsuiji);
    }


    function ConvertDate(date) {
        var time = new Date(parseInt(date.substr(6)));
        return time.toLocaleDateString();
    }
</script>
