
@{
    ViewBag.Title = "YiKuGuanliAdd";
    Layout = "~/Views/MainPage.cshtml";
}

<link href="~/Css/bootstrap.min.css" rel="stylesheet" />


<div style=" border:0px solid #4cff00;width:95%;">
    <div style="height:50px;background-color:#e7e7e7;">
        <div style="width:150px;margin-left:15px;font-weight:600;padding-top:15px;color:#373737">新增移库单</div>
    </div>
</div>
<div style="border:0px solid #4cff00;width:95%;">
    <div style="padding:15px;border:1px solid #808080">
        <div style="margin:10px;border:1px solid #e7e7e7;padding:5px;padding-bottom:22px;">
            <div style="display:flex">
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">移库单编号</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">移库类型</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">关联订单号</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">制单时间</div>
            </div>
            <div style="display:flex">
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:20px;">
                    <input type="text" class="form-control" id="YKdanhao" placeholder="可不填自动生成" readonly>
                </div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:20px;">
                    <select class="form-control" id="YiKuleixing">
                        <option value="请选择移库类型">请选择移库类型</option>
                        <option value="移库上架">移库上架</option>
                        <option value="仓库移库">仓库移库</option>
                        <option value="报损移库">报损移库</option>
                    </select>
                </div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:20px;">
                    <input type="text" class="form-control">
                </div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:20px;">
                    <input type="text" class="form-control" id="YiKutime">
                </div>
            </div>
            <div style="display:flex">
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">制单人</div>
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;">备注</div>
            </div>
            <div style="display:flex">
                <div style="text-align:left;width:20%;margin:5px;margin-right:33px;margin-bottom:10px;">
                    <input type="text" class="form-control">
                </div>
                <div style="text-align:left;width:615px;margin:5px;margin-right:33px;margin-bottom:10px;">
                    <input type="text" class="form-control" id="yikubeizhu">
                </div>
            </div>
        </div>

        <div style="margin:10px;border:1px solid #e7e7e7;padding:5px;padding-bottom:22px;">
            <table class="table table-striped table-bordered table-hover" id="tabInfo">
                <thead>
                    <tr class="widget-title">
                        <th class="hidden-480">产品编号</th>
                        <th class="hidden-480">产品名称</th>
                        <th class="hidden-480">产品条码</th>
                        <th class="hidden-480">批次</th>
                        <th class="hidden-480">数量</th>
                        <th class="hidden-480">当前库位</th>
                        <th class="hidden-480">移入库位</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="tb1"></tbody>
            </table>
            <table class="table table-striped table-bordered table-hover" id="tabInfo">
                <thead>
                    <tr class="widget-title">
                        <th class="hidden-480">产品编号</th>
                        <th class="hidden-480">产品名称</th>
                        <th class="hidden-480">当前库位</th>
                        <th class="hidden-480">现有库存</th>
                    </tr>
                </thead>
                <tbody id="tb2"></tbody>
            </table>
            @*layui分页*@
            <div id="pageDome">

            </div>

            <button type="submit" class="btn btn-primary" onclick="YiKuAdd()">保存</button>
            <button type="button" class="btn">取消</button>
        </div>


    </div>
</div>



<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<script>
    var pageIndex = 1;
    var pageSize = 5;
    var pageCount = 0;
    var rowss = 0;
    var info = [];
    var danhapsuiji;
    $(function () {
        rukuList();

        var addtime = new Date();
        $("#YiKutime").val(addtime.toLocaleDateString());//赋值当前日期到页面

        //   根据当前时间和随机数生成流水号
        suijidanhao();

        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;

            //完整功能
            laypage.render({
                elem: 'pageDome'
                , count: rowss
                , limit: 5
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {
                    pageIndex = obj.curr;
                    pageSize = obj.limit;
                    rukuList();
                }
            });
        });

    })




    function rukuList() {
        $.ajax({
            type: "POST",
            url: "/LLQ/GetCpGlAll",
            data: "{PageIndex:" + pageIndex + ",PageSize:" + pageSize + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tb2 tr").remove();
                rowss = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tb2").append("<tr onclick='SelectChanPin(" + data.CpID + ")'><td>" + data.CpID + "</td><td>" + data.CpXsName + "</td><td>" + data.KwName + "</td><td>" + data.CpShuLiang + "</td></tr>");
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }

    function SelectChanPin(id) {
        $.ajax({
            type: "POST",
            url: "/XBY/IDCanPin",
            data: "{id:" + id + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("#tb1").append("<tr><td>" + data.CpID + "</td><td>" + data.CpXsName + "</td><td>" + data.Cpbh + "</td><td></td><td><input name='" + data.Cpbh + "' type='text' /></td><td>" + data.KwName + "</td><td>  <select class='form-control' >< option > 请选择库位</option ><option value='1'>成品库位</option ><option value='2'>报损库位</option ><option value='3'>待出库位</option ><option value='4'>待检库位</option ><option value='5'>待入库位</option ></select > </td><td><i class='layui-icon layui-icon-edit' title='编辑'></i>  <i class='layui-icon layui-icon-delete' title='删除'></i>        </td></tr>");

                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }


    //   根据当前时间和随机数生成流水号
    function suijidanhao() {
        var now = new Date()
        var month = now.getMonth() + 1
        var day = now.getDate()
        var hour = now.getHours()
        var minutes = now.getMinutes()
        var seconds = now.getSeconds()
        //month = now.setTimeDateFmt(month)
        //hour = now.setTimeDateFmt(hour)
        //minutes = now.setTimeDateFmt(minutes)
        //seconds = this.setTimeDateFmt(seconds)
        danhapsuiji = now.getFullYear().toString() + month.toString() + day + hour + minutes + seconds + (Math.round(Math.random() * 89 + 100)).toString()
        $("#YKdanhao").val(danhapsuiji);
    }

    function YiKuAdd() {
        var num = $("#tb1 tr").length;

        //console.log(info)


        if ($("#YiKuleixing").val() == "请选择移库类型") {
            alert("请选择移库类型后添加！");
        }
        else {
            for (var i = 0; i < num; i++) {
                if ($("#tb1 tr").eq(i).children("td").eq(4).children("input").val() == "") {
                    alert("请输入移库数量");
                    return;
                }
                var obj = {};
                obj.ProductID = $("#tb1 tr").eq(i).children("td").eq(0).text();
                obj.MovementNumber = $("#tb1 tr").eq(i).children("td").eq(4).children("input").val();
                //alert($("#tb1 tr").eq(i).children("td").eq(6).text());
                //$("#tb1 tr").eq(i).children("td").eq(7).text()
                obj.WarehouseID = YiKucangku($("#tb1 tr").eq(i).children("td").eq(5).text());
                obj.WarehouseIDs = $("#tb1 tr").eq(i).children("td").eq(6).children("select").val();
                obj.MovementIDS = danhapsuiji;
                //console.log(obj)
                info.push(obj);


            }

            if (info.length > 0) {

                var rukuzongshu = 0;//定义总数量
                for (var i = 0; i < info.length; i++) {
                    rukuzongshu += parseInt(info[i].MovementNumber) ;
                }


                $.ajax({
                    type: "POST",
                    url: "/XBY/AddYiKu",
                    data: "{zhu:{MovementID:'" + danhapsuiji + "',MovementType:'" + $("#YiKuleixing").val() + "',MovementCount:'" + rukuzongshu + "',EmployeeID:'" + 1 + "',StateText:'" + yikubeizhu + "'}}",
                    dataType: "json",
                    contentType: "application/json",
                    success: function (result) {
                        AddXiang();
                    },
                    error: function (ex) {
                        alert("Error:" + ex.responseText);

                    }
                });
            } else {
                alert("请选择移库产品!");
            }
        }
    }

    function AddXiang() {
        for (var i = 0; i < info.length; i++) {
            $.ajax({
                type: "POST",
                url: "/XBY/AddYiKuxiang",
                data: "{xiang:{MovementIDS:'" + info[i].MovementIDS + "',ProductID:'" + info[i].ProductID + "',MovementNumber:'" + info[i].MovementNumber + "',WarehouseID:'" + info[i].WarehouseID + "',WarehouseIDs:'" + info[i].WarehouseIDs + "'}}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {

                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);

                }
            });
        }
        alert("添加成功");
        location.href = "/XBY/YiKuGuanli"
    }

    function YiKucangku(id) {
        if (id == "成品库位") {
            return 1;
        }
        if (id == "报损库位") {
            return 2;
        }
        if (id == "待出库位") {
            return 3;
        }
        if (id == "待检库位") {
            return 4;
        }
        if (id == "待入库位") {
            return 5;
        }
    }

    function ConvertDate(date) {
        var time = new Date(parseInt(date.substr(6)));
        return time.toLocaleDateString();
    }
</script>
