
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div style="font-size:30px;font-family:宋体;margin-left:600px;color: royalblue;"><strong>仓储系统</strong></div>
    <div>
        <div>
            <div>
                <div>
                    <input type="text"  class="item user" style="width:250px;height:40px;margin-left:550px;" id="UserName" placeholder="用户名" />
                </div>
                <div>
                    <input class="item password" type="password" id="PassWord" style="width:250px;height:40px;margin-left:550px;margin-top:10px;" placeholder="密码" />
                </div>
                <div class="item">
                    <input id="Button1" type="button" class="btn btn-primary" style="margin-left:550px;margin-top:20px;width:250px;" onclick="btnlogin()" value="登录" />
                </div>
            </div>
            <div class="footer"></div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        //$(function () {
        //    btnlogin();
        //});
        function btnlogin() {
            $.ajax({
                type: "POST",
                url: "/TXY/Rogin",
                data: "{a:{UserName:'" + $("#UserName").val() + "',PassWord:'" + $("#PassWord").val() + "'}}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result != "") {
                        alert("登录成功!!");
                        location.href = "/XBY/Index";
                        AdminID = result.AdminID;
                        
                    }
                    
                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);
                }
            })
        }
    </script>
</body>
</html>
