
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rgion</title>
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="modal-ready">
    <div style="font-size:30px;font-family:宋体;margin-left:600px;color: royalblue;"><strong>仓储系统</strong></div>
    <div class="container">
        <div id="home">
            <div class="wrapper">
                <form action="">
                    <fieldset>
                        <legend></legend>
                        <div>
                            <input type="text"  class="item user"  style="width:250px;height:40px;margin-left:400px;" id="input-username" name="username" value="administrator" placeholder="用户名" />
                        </div>
                        <div>
                            <input class="item password" type="password" id="input-password" name="password" value="administrator" style="width:250px;height:40px;margin-left:400px;margin-top:10px;" placeholder="密码" />
                        </div>
                        <div class="item">
                            <input id="btnlogin" class="btn btn-primary" type="button" style="margin-left:480px;margin-top:20px;" value="登录"  />
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="footer"></div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(function () {
        $("#btnlogin").click(function () {
            $.ajax({
                type: "POST",
                url: "/TXY/Rogin",
                data: "{user:{UserName:'" + $("#username").val() + "',PassWord:'" + $("#password").val() + "'}}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("登录成功!!");
                        
                        AdminID = result.AdminID;
                    }
                }
            })
        })
    });
</script>