
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MainPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SysDepart</title>
    <style>
        .input-medium {
            width: 250px;
            height: 35px;
            margin-left: 80px;
            margin-bottom: 20px;
        }
    </style>
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body>

    <div style="border:0px solid #4cff00;width:95%;">
        <div style="padding:15px;border:1px solid red">
            <div>
                <table>
                    <tr>
                        <td><a href="#">首页<</a></td>
                        <td>系统设置<</td>
                        <td>部门管理</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td><strong style="margin-left:20px">用户管理</strong></td>
                        <td><a style="margin-left:900px;" id="btnSubhh" class="btn btn-primary" href="javascript:xzshow()">新增</a></td>
                        <td> <input style="margin-left:10px;" id="btnSub" class="btn btn-danger" type="button" value="删除" /></td>
                        <td> <input style="margin-left:10px;" id="btnSub" class="btn btn-info" type="button" value="导出" /></td>
                    </tr>
                </table>
                <table action="javascript:void(0)" class="form-horizontal">
                    <tr>
                        <td><input id="txtSearch" type="text" class="input-group" placeholder="请输入用户名"></td>
                        <td>
                            <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="SysDepartQuery()">搜索</a>
                        </td>
                    </tr>
                </table>
            </div>
            <table style="width:100%;" class="table table-bordered">
                <thead>
                    <tr>
                        <td style="width:20px;"><input type="checkbox" /></td>
                        <td>序号</td>
                        <td>部门编号</td>
                        <td>部门名</td>
                        <td>创建时间</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody id="tb1"></tbody>
            </table>

            @*分页*@
            <div id="pageDemo">

            </div>
        </div>
    </div>
    <div id="jbox-content" @*style="height: 136px;height: 300px;width:500px;   position: static; margin-left:500px;position:absolute;margin-top:-300px; margin-left:500px;background-color:aliceblue"*@ hidden="hidden">
        @*<div class="tab-pane active" id="widget_tab1" style="margin-top:30px">*@
            <form class="navbar-form navbar-left" role="search">
                    <dl>
                        <dd>部门编号</dd>
                        <dd>
                            <input id="txtDepartNum" name="txtDepartNum" type="text" class="input-medium">
                        </dd>
                    <dl/>
                    <dl>
                        <dd>部门名称</dd>
                        <dd>
                            <input id="txtDepartName" name="txtDepartName" type="text" placeholder="请输入角色名称" class="input-medium">
                        </dd>
                    </dl>
                    <dl>
                        <dd>创建时间</dd>
                        <dd>
                            <input id="textCreateTime" name="textCreateTime" type="text" class="input-medium">
                        </dd>
                    </dl>
                        <input id="Button1" type="button" class="btn-success" style="margin-left:100px;margin-top:15px;width:50px;height:30px" onclick="add()" value="确认" />
                       <input id="Button1_1" type="button" class="btn-info" style="margin-left:150px;margin-top:15px;width:50px;height:30px" value="取消" />
                   
            </form>
        @*</div>*@
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<script>
    var PageIndex = 1;
    var PageSize = 10;
    var rows = 0;
    $(function () {
        get();

        layui.use(['laypage','layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;
            //完整功能
            laypage.render({
                elem: 'pageDemo'
                , count: rows//总条数
                , limit: 3//每页显示数
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {

                    //设置当前页
                    PageIndex = obj.curr;
                    //设置每页显示
                    PageSize = obj.limit;
                    get();
                }
            });
        });
        //$("#btnSubhh").click(function () {
        //    if ($("#jbox-content").css("display") == "none") {
        //        $("#jbox-content").show();

        //    } else {
        //        $("#jbox-content").hide();
        //    }
        //});
        $("#Button1_1").click(function () {
            $("#jbox-content").hide();
        });
    });
    //分页查询
    function get() {
        $.ajax({
            type: "POST",
            url: "/TXY/GetAllSysDepart",
            data: "{PageIndex:" + PageIndex + ",PageSize:" + PageSize + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tb1 tr").remove();
                rows = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tb1").append("<tr><td style='width: 20px; '><input type='checkbox' /></td><td id='hhh'>" + data.SysDepartID + "</td ><td>" + data.DepartNum + "</td ><td>" + data.DepartName + "</td><td>" + ConvertDate(data.CreateTime) + "</td><td><i  class='layui-icon layui-icon-delete' type='button' title='删除' onclick='btnSub(" + data.SysDepartID + ")' ></i><a  href='javascript:Eite(" + data.SysDepartID + ")'><i class='layui-icon layui-icon-edit' title='编辑'></i></a>&nbsp;<a href='#'><i  class='layui-icon layui-icon-console'></i></a></td></tr>");
                })
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);
            }
        })
    }
    //删除
    function btnSub(SysDepartID) {
        alert(SysDepartID);
        $.ajax({
            type: "POST",
            url: "/TXY/SysDepartdelete",
            data: "{SysDepartID:'" + SysDepartID + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("删除成功");
                    get();
                }
                else {
                    alert("删除失败");

                }
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);
            }

        });
        get();
    };
    function xzshow() {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo',//样式类名
            title: ['新增部门', 'font-size:18px'],
            area: ['400px', '359px'],
            shadeClose: true,
            content: $('#jbox-content'),
            shade: 0,

        });


    }
    //新增
    function add() {
        var aa = $("#textCreateTime").val();
        var IsDelete = true;
        $.ajax({
            type: "POST",
            url: "/TXY/SysDepartadd",
            data: "{depart:{DepartNum:'" + $("#txtDepartNum").val() + "',DepartName:'" + $("#txtDepartName").val() + "',CreateTime:'" + aa + "',IsDelete:'" + IsDelete + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("添加成功")
                    get();
                    window.location.href = "/TXY/SysDepart";
                }
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
        get();
    }
    function Eite(SysDepartID) {
        layer.prompt({
            //formType: 2,
            value: '',
            title: '编辑部门',
            area: ['200px', '30px'] //自定义文本域宽高
            ,btn: ['确定', '取消'],
             success: function (layero) {
                layero.find(".layui-layer-content").prepend('<div style="margin-bottom: 15px;">部门名称</div>')
            }
        }, function (value, index, elem) {
            //alert(value); //得到value
            layer.close(index);


            $.ajax({
                type: "POST",
                url: "/TXY/SysDepartEit",
                data: "{SysDepartID: " + SysDepartID + ",DepartName:'" + value + "'}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("修改成功");
                        get();
                    } else {
                        alert("修改失败");
                    }
                },
                error: function (ex) {
                    alert(ex.responseText);
                }
            });
        });
        
    }
    //模糊查询
    //错的
    //哈哈
    //难搞哦
    function SysDepartQuery()
    {
        var Search = $("#txtSearch").val();
        $.ajax({
            type: "POST",
            url: "/TXY/SysDepartQuery",
            data: "{DepartName:" + Search + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tb1 tr").remove();
                rows = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tb1").append("<tr><td style='width: 20px; '><input type='checkbox' /></td><td id='hhh'>" + data.SysDepartID + "</td ><td>" + data.DepartNum + "</td ><td>" + data.DepartName + "</td><td>" + ConvertDate(data.CreateTime) + "</td><td><i  class='layui-icon layui-icon-delete' type='button' title='删除' onclick='btnSub(" + data.SysDepartID + ")' ></i><a  href='javascript:Eite(" + data.SysDepartID + ")'><i class='layui-icon layui-icon-edit' title='编辑'></i></a>&nbsp;<a href='#'><i  class='layui-icon layui-icon-console'></i></a></td></tr>");
                })
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);
            }
        })

    }
    function ConvertDate(date) {
        var time = new Date(parseInt(date.substr(6)));
        return time.toLocaleDateString();
    }
</script>
