
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MainPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SysRole</title>
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div style="border:0px solid #4cff00;width:95%;">
        <div style="padding:15px;border:1px solid red">
            <div>
                <table>
                    <tr>
                        <td><a href="#">首页<</a></td>
                        <td>系统设置<</td>
                        <td>角色管理</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td><strong style="margin-left:20px">用户管理</strong></td>
                        <td> <input style="margin-left:900px;" id="btnSubhh" class="btn btn-primary" type="button" value="新增" /></td>
                        <td> <input style="margin-left:10px;" id="btnSub" class="btn btn-danger" type="button" value="删除" /></td>
                        <td> <input style="margin-left:10px;" id="btnSub" class="btn btn-info" type="button" value="导出" /></td>
                    </tr>
                </table>
                <table action="javascript:void(0)" class="form-horizontal">
                    <tr>
                        <td><input id="txtSearch" type="text" class="input-group" placeholder="请输入用户名或者工号"></td>
                        <td>
                            <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="User.PageClick(1)">搜索</a>
                        </td>
                    </tr>
                </table>
            </div>
            <table style="width:100%;" class="table table-bordered">
                <thead>
                    <tr>
                        <td style="width:20px;"><input type="checkbox" /></td>
                        <td>序号</td>
                        <td>角色编号</td>
                        <td>角色名</td>
                        <td>创建时间</td>
                        <td>备注</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody id="tb1">

                </tbody>
            </table>
            <div id="jbox-content" style="height: 136px;  position: static; margin-left:500px;position:absolute;margin-top:-300px;background-color:aliceblue" hidden>
                <div class="tab-pane active" id="widget_tab1" style="margin-top:30px">
                    <table class="formtab_user">
                        <tbody>

                            <tr>
                                <td>角色编号</td>
                                <td>
                                    <input id="txtRoleNum" name="txtRoleNum" type="text"  class="input-medium" >
                                </td>
                            </tr>
                            <tr>
                                <td>角色名称</td>
                                <td>
                                    <input id="txtRoleName" name="txtRoleName" type="text" placeholder="请输入角色名称" class="input-medium">
                                </td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td>
                                    <input id="txtRemark" name="txtRemark" type="text" class="input-medium">
                                </td>
                            </tr>
                            <tr>
                                <td><input id="Button1" type="button" class="btn-success" style="margin-left:50px;margin-top:15px" onclick="add()" value="确认" /></td>
                                <td><input id="Button1_1" type="button" class="btn-info" style="margin-left:50px;margin-top:15px" value="取消" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @*分页*@
            <div id="pageDemo">

            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<script>
    $(function () {
        get();
        var PageIndex = 1;
        var PageSize = 5;
        var PageCount = 0;
        var rows = 0;
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;
            //完整功能
            laypage.render({
                elem: 'pageDemo'
                , count: rows//总条数
                , limit: 2//每页显示数
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {

                    //设置当前页
                    PageIndex = obj.curr;
                    //设置每页显示
                    PageSize = obj.limit;
                    get();
                }
            });
        });
        function get() {
            $.ajax({
                type: "POST",
                url: "/TXY/GetAllSysRole",
                data: "{PageIndex:" + PageIndex + ",PageSize:" + PageSize + "}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    $("#tb1 tr").remove();
                    rows = result.PageCount;
                    $.each(result.DataList, function (index, data) {
                        $("#tb1").append(
                            "<tr><td><input type='checkbox'/></td><td>" + data.SysRoleID + "</td><td>" + data.RoleNum + "</td><td>" + data.RoleName + "</td><td>" + ConvertDate(data.CreateTime) + "</td><td>" + data.Remark + "</td><td><input  class='btn btn-warning' type='button' value='删除' onclick='btnSub(" + data.SysRoleID + ")' /><a class='btn btn-warning' href='#'>编辑</a>&nbsp;<a href='#' class='btn btn-warning'>权限分配</a></td></tr>");
                        

                    })
                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);
                }
            })
        }
        $("#btnSubhh").click(function () {
            if ($("#jbox-content").css("display") == "none") {
                $("#jbox-content").show();

            } else {
                $("#jbox-content").hide();
            }
        });
        $("#Button1_1").click(function () {
            $("#jbox-content").hide();
        });
    });
    //删除
    function btnSub () {
        var id = $("[name='txtRoleNum']").val();
        var aaa = false;
        $.ajax({
            type: "POST",
            url: "/TXY/SysRole",
            data: "{Role:" + id+ "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result >0) {
                    alert("删除成功");
                    get();
                }
                else {
                    alert("删除失败");

                }
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);
            }
        });

    };

    //新增
    function add() {
        
        var d = new Date();
        var time = d.getTime();
        var IsDelete = true;
        $.ajax({
            type: "POST",
            url: "/TXY/SysRoleadd",
            data: "{role:{RoleNum:'" + $("#txtRoleNum").val() + "',RoleName:'" + $("#txtRoleName").val() + "',Remark:'" + $("#txtRemark").val() + "',CreateTime:'" + time+ "',IsDelete:'" + IsDelete + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("添加成功")
                    get();
                }
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }



    function ConvertDate(date) {
        var time = new Date(parseInt(date.substr(6)));
        return time.toLocaleDateString();
    }


    
</script>