
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MainPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SysRole</title>
    <style>
        .input-medium {
            width: 250px;
            height: 35px;
            margin-left: 80px;
            margin-bottom: 20px;
        }
    </style>
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>

<body>
    <div style="border:0px solid #4cff00;width:95%;">
        <div style="padding:15px;border:1px solid red">
            <div>
                <table>
                    <tr>
                        <td><a href="#">首页<</a></td>
                        <td>系统设置<</td>
                        <td>角色管理</td>
                    </tr>
                </table>
                <div style="height:70px;">
                    @*<h4>角色管理</h4>
                        <div style="float:right;display:inline;">
                            <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:adds()" onclick="User.PageClick(1)">新增</a>
                            <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="User.PageClick(1)">删除</a>
                            <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="User.PageClick(1)">导出</a>
                        </div>*@
                </div>

                <table>
                    <tr>
                        <td><strong style="margin-left:20px">用户管理</strong></td>
                        <td> <a style="margin-left:900px;" id="btnSubhh" class="btn btn-primary" href="javascript:xzshow()">新增</a></td>
                        <td> <input style="margin-left:10px;" id="btnSub" class="btn btn-danger" onclick="you()" type="button" value="删除" /></td>
                        <td> <input style="margin-left:10px;" id="btnSub" class="btn btn-info" type="button" value="导出" /></td>
                    </tr>
                </table>
                <table action="javascript:void(0)" class="form-horizontal">
                    <tr>
                        <td><input id="txtSearch" type="text" class="input-group" placeholder="请输入用户名"></td>
                        <td>
                            <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="SysRoleQuery()">搜索</a>
                        </td>
                    </tr>
                </table>
            </div>
            <table style="width:100%;" class="table table-bordered">
                <thead>
                    <tr>
                        <td style="width:20px;"><input type="checkbox" id="check1" onclick="quanxuan('checkbox', 'reversecheck')" /></td>
                        <td>序号</td>
                        <td>角色编号</td>
                        <td>角色名</td>
                        <td>创建时间</td>
                        <td>备注</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody id="tb1"></tbody>
            </table>

            @*<form class="formtab_user1" hidden>*@

            @*</form>*@
            @*分页*@
            <div id="pageDemo">

            </div>
        </div>
    </div>

    <div id="jbox-content"  hidden>
        
            <table class="formtab_user">
                <tbody>

                    <tr>
                        <td>角色编号</td>
                        <td>
                            <input id="txtRoleNum" name="txtRoleNum" type="text" class="input-medium">
                        </td>
                    </tr>
                    <tr>
                        <td>角色名称</td>
                        <td>
                            <input id="txtRoleName" name="txtRoleName" type="text" placeholder="请输入角色名称" class="input-medium">
                        </td>
                    </tr>
                    <tr>
                        <td>备注</td>
                        <td>
                            <input id="txtRemark" name="txtRemark" type="text" class="input-medium">
                        </td>
                    </tr>
                    <tr>
                        <td>创建时间</td>
                        <td>
                            <input id="textCreateTime" name="textCreateTime" type="text" class="input-medium">
                        </td>
                    </tr>
                    <tr>
                        <td><input id="Button1" type="button" class="btn-success" style="margin-left:100px;margin-top:15px;width:50px;height:30px" onclick="add()" value="确认" /></td>
                        <td><input id="Button1_1" type="button" class="btn-info" style="margin-left:150px;margin-top:15px;width:50px;height:30px" value="取消" /></td>
                    </tr>
                </tbody>
            </table>
    </div>
    <div id="hide11" @*style="height: 300px;width:500px; margin-left:450px;position:absolute;margin-top:-350px;background-color:aliceblue"*@ hidden="hidden">
        <form class="navbar-form navbar-left" role="search">

            <dl>
                <dd>角色编号</dd>
                <dd>
                    <input id="SysRoleID" type="text" hidden />
                    <input id="RoleNum1" name="RoleNum" type="text" class="input-medium">
                </dd>
            </dl>
            <dl>
                <dd>角色名称</dd>
                <dd>
                    <input id="RoleName1" name="RoleName" type="text" placeholder="请输入角色名称" class="input-medium">
                </dd>
            </dl>
            <dl>
                <dd>备注</dd>
                <dd>
                    <input id="Remark1" name="Remark" type="text" class="input-medium">
                </dd>
            </dl>
            <input id="Button1" type="button" class="btn-success" style="margin-left:100px;margin-top:1px;width:50px;height:30px" onclick="update()" value="确认" />
            <input id="Button1_1" type="button" class="btn-info" style="margin-left:150px;margin-top:15px;width:50px;height:30px" value="取消" />

        </form>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<script>
    var PageIndex = 1;
    var PageSize = 10;
    var PageCount = 0;
    var rows = 0;
    $(function () {
        get();
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;
            //完整功能
            laypage.render({
                elem: 'pageDemo'
                , count: rows//总条数
                , limit: 3//每页显示数
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {

                    //设置当前页
                    PageIndex = obj.curr;
                    //设置每页显示
                    PageSize = obj.limit;
                    get();
                }
            });
        });
        

        //$("#btnSubhh").click(function () {
        //    if ($("#jbox-content").css("display") == "none") {
        //        $("#jbox-content").show();

        //    } else {
        //        $("#jbox-content").hide();
        //    }
        //});
        $("#Button1_1").click(function () {
            $("#jbox-content").hide();
        });
        
    });
    //分页查询
    function get() {

        $.ajax({
            type: "POST",
            async: false,
            url: "/TXY/GetAllSysRole",
            data: "{PageIndex:" + PageIndex + ",PageSize:" + PageSize + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tb1 tr").remove();
                rows = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tb1").append(
                        "<tr><td><input type='checkbox' name='checkbox' class='check' data-id='" + data.SysRoleID +"' /></td><td>" + data.SysRoleID + "</td><td>" + data.RoleNum + "</td><td>" + data.RoleName + "</td><td>" + ConvertDate(data.CreateTime) + "</td><td>" + data.Remark + "</td><td><i class='layui-icon layui-icon-delete' type='button' title='删除' onclick='btnSub(" + data.SysRoleID + ")' /></i><a  href='javascript:reads(" + data.SysRoleID + ")'><i class='layui-icon layui-icon-edit' id='butten' title='编辑'></i></a>&nbsp;<a  href='#'><i href='#' class='layui-icon layui-icon-console' title='权限分配'></i></a></td></tr>");
                    
                })
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);
            }
        })
    }

    function reads(SysRoleID) {
        alert(SysRoleID);
            layer.open({
                type: 1,
                skin: 'layui-layer-demo',//样式类名
                title: ['编辑角色', 'font-size:18px'],
                area: ['400px', '359px'],
                shadeClose: true,
                content: $('#hide11'),
                shade: 0,
               
        });

    


            $.ajax({
            type: "POST",
            url: "/TXY/SysRoleGetById",
            data: "{SysRoleID:" + SysRoleID + "}",
            dataType: "json",
            contentType: "application/json",
                success: function (result) {
                    console.log(result);
                $.each(result, function (Index, data) {
                    alert(data.RoleNum);
                    $("#SysRoleID").val(data.SysRoleID);
                    $("#RoleNum1").val(data.RoleNum);
                    $("#RoleName1").val(data.RoleName);
                });
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
    function quanxuan(objName, type) {
        var objNameList = document.getElementsByName(objName);
        if (null != objNameList) {
            for (var i = 0; i < objNameList.length; i++) {
                if (objNameList[i].checked == true) {
                    if (type != 'checkall') {  // 非全选
                        objNameList[i].checked = false;
                    }
                } else {
                    if (type != 'uncheckall') {  // 非取消全选
                        objNameList[i].checked = true;
                        //console.log($("input[name='checkbox']").data("id"));
                        //alert($("input[name='checkbox']").data("id"));

                    }
                }
            }
        }
    }

    function you() {
        var fan = 0;
        var list = []
        $.each($("[name='checkbox']"), function (index, result) {
            //alert($(this).is("checked"));
            //console.log(result);
            if ($(this).prop("checked")) {
                list.push($(this).data("id"));

            }
        });
        $.each(list, function (index2, result2) {
            alert(result2);
            $.ajax({
                type: "POST",
                url: "/TXY/SysRoledelete",
                data: "{SysRoleID:" + result2 + "}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    //console.log(result);
                    if (result > 0) {
                        alert("删除成功2");
                        window.location.reload();

                    } else {
                        alert("删除失败2");

                    }
                },
                error: function (ex) {
                    alert(ex.responseText);
                }
            });

        })
    }
    function update() {
        var SysRoleID = $("#SysRoleID").val();
        var RoleNum = $("#RoleNum1").val();
        var RoleName = $("#RoleName1").val();
        var Remark = $("#Remark1").val();
        $.ajax({
            type: "POST",
            url: "/TXY/SysRoleEdit",
            data: "{role:{SysRoleID:'" + SysRoleID+"',RoleNum:'" + RoleNum + "',RoleName:'" + RoleName + "',Remark:'" + Remark+"'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("修改成功");
                    get();
                } else {
                    alert("修改失败");
                }
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });


    }
    //删除
    function btnSub(SysRoleID) {
        alert(SysRoleID);
        $.ajax({
            type: "POST",
            url: "/TXY/SysRoledelete",
            data: "{SysRoleID:'" + SysRoleID + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result >0) {
                    alert("删除成功");
                    get();
                }
                else {
                    alert("删除失败");

                }
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);
            }
            
        });
        get();
    };

    //新增

    function xzshow() {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo',//样式类名
            title: ['新增角色', 'font-size:18px'],
            area: ['500px', '360px'],
            shadeClose: true,
            content: $('#jbox-content'),
            shade: 0,

        });


    }
    function add() {

        var aa = $("#textCreateTime").val();
        var IsDelete = true;
        $.ajax({
            type: "POST",
            url: "/TXY/SysRoleadd",
            data: "{role:{RoleNum:'" + $("#txtRoleNum").val() + "',RoleName:'" + $("#txtRoleName").val() + "',Remark:'" + $("#txtRemark").val() + "',CreateTime:'" + aa + "',IsDelete:'" + IsDelete + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("添加成功")
                    get();
                    window.location.href = "/TXY/SysRole";
                }
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
        get();
    }
    //读取
    //function SysRoleGetById(SysRoleID) {
    //    $.ajax({
    //        type: "POST",
    //        url: "/TXY/SysRoleGetById",
    //        data: "{SysRoleID:" + SysRoleID + "}",
    //        dataType: "json",
    //        contentType: "application/json",
    //        success: function (result) {
    //            $.each(result, function (Index, data) {
    //                $("[name='RoleNum']").val(data.RoleNum);
    //                $("[name='RoleName']").val(data.RoleName);
    //            });
    //        },
    //        error: function (ex) {
    //            alert(ex.responseText);
    //        }
    //    });
    //}
    function SysRoleQuery() {
        var Search = $("#txtSearch").val();
        alert(PageIndex);
        $.ajax({
            type: "POST",
            async: false,
            url: "/TXY/SysRoleQuery",
            //data: "{PageIndex:" + PageIndex + ",PageSize:" + PageSize + ",DepartName:" + Search + "}",
            data: { PageIndex: PageIndex, PageSize: PageSize, RoleName: Search },
            dataType: "json",
            //contentType: "application/json",
            success: function (result) {
                //alert(JSON.stringify(result));
                $("#tb1 tr").remove();
                rows = result.PageCount;
                $.each(result, function (index, data) {
                    $("#tb1").append(
                        "<tr><td><input type='checkbox' name='checkbox' class='check' data-id='" + data.SysRoleID +"' /></td><td>" + data.SysRoleID + "</td><td>" + data.RoleNum + "</td><td>" + data.RoleName + "</td><td>" + ConvertDate(data.CreateTime) + "</td><td>" + data.Remark + "</td><td><i class='layui-icon layui-icon-delete' type='button' title='删除' onclick='btnSub(" + data.SysRoleID + ")' /></i><a  href='javascript:reads(" + data.SysRoleID + ")'><i class='layui-icon layui-icon-edit' id='butten' title='编辑'></i></a>&nbsp;<a  href='#'><i href='#' class='layui-icon layui-icon-console' title='权限分配'></i></a></td></tr>");
                })
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);
            }
        })

    }

    function ConvertDate(date) {
        var time = new Date(parseInt(date.substr(6)));
        return time.toLocaleDateString();
    }

   
    
</script>