
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MainPage.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Function</title>
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body>

    <div style="border:0px solid #4cff00;width:95%;">
        <div style="padding:15px;border:1px solid red">
            <div>
                <table>
                    <tr>
                        <td><a href="#">首页<</a></td>
                        <td>系统设置<</td>
                        <td>菜单管理</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td><strong style="margin-left:20px">菜单管理</strong></td>
                        <td> <input style="margin-left:900px;" id="btnSubhh" class="btn btn-primary" type="button" value="新增" /></td>
                        <td> <input style="margin-left:10px;" id="btnSub" class="btn btn-danger" type="button" value="删除" /></td>
                        <td> <input style="margin-left:10px;" id="btnSub" class="btn btn-info" type="button" value="导出" /></td>
                    </tr>
                </table>
                <table action="javascript:void(0)" class="form-horizontal">
                    <tr>
                        <td><input id="txtSearch" type="text" class="input-group" placeholder="请输入用户名或者工号"></td>
                        <td>
                            <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="User.PageClick(1)">搜索</a>
                        </td>
                    </tr>
                </table>
            </div>
            <table style="width:100%;" class="table table-bordered">
                <thead>
                    <tr>
                        <td style="width:20px;"><input type="checkbox" /></td>
                        <td>序号</td>
                        <td>菜单编号</td>
                        <td>菜单名称</td>
                        <td>创建时间</td>
                        <td>状态</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody id="tb1"></tbody>
            </table>
            <div id="jbox-content" style="height: 136px;  position: static; margin-left:500px" hidden>
                <div class="tab-pane active" id="widget_tab1">
                    <table class="formtab_user">
                        <tbody>
                            <tr>
                                <td>菜单编号</td>
                                <td>
                                    <input id="txtParentNodeId" name="txtParentNodeId" type="text" class="input-medium" @*disabled="disabled"*@>
                                </td>
                            </tr>
                            <tr>
                                <td>菜单名称</td>
                                <td>
                                    <input id="txtDisplayName" name="txtDisplayName" type="text" placeholder="请输入菜单名称" class="input-medium">
                                </td>
                            </tr>
                            <tr>
                                <td>父级菜单编号</td>
                                <td>
                                    <input id="txtNodeURL" name="txtNodeURL" type="text" class="input-medium" @*disabled="disabled"*@>
                                </td>
                            </tr>
                            <tr>
                                <td>类型</td>
                                <td>
                                    <input id="txtState" name="txtState" type="text" class="input-medium">
                                </td>
                            </tr>
                            <tr>
                                <td>路径</td>
                                <td>
                                    <input id="txtDisplayOrder" name="txtDisplayOrder" type="text" class="input-medium">
                                </td>
                            </tr>
                            <tr>
                                <td>创建时间</td>
                                <td>
                                    <input id="textADDTime" name="textADDTime" type="text" class="input-medium">
                                </td>
                            </tr>
                            <tr>
                                <td><input id="Button1" type="button" onclick="add()" style="margin-left:0px" value="确认" /></td>
                                <td><input id="Button1_1" type="button" style="margin-left:10px" value="取消" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            @*分页*@
            <div id="pageDemo">

            </div>
        </div>
    </div>
    <div id="jbox-content" hidden>

        <table class="formtab_user">
            <tbody>

                <tr>
                    <td>菜单编号</td>
                    <td>
                        <input id="txtParentNodeId" name="txtParentNodeId" type="text" class="input-medium">
                    </td>
                </tr>
                <tr>
                    <td>菜单名称</td>
                    <td>
                        <input id="txtDisplayName" name="txtDisplayName" type="text" placeholder="请输入菜单名称" class="input-medium">
                    </td>
                </tr>
                <tr>
                    <td>父级菜单编号</td>
                    <td>
                        <input id="txtNodeURL" name="txtNodeURL" type="text" class="input-medium">
                    </td>
                </tr>
                <tr>
                    <td>类型</td>
                    <td>
                        <input id="txtState" name="txtStatet" type="text" class="input-medium">
                    </td>
                </tr>
                <tr>
                    <td>路径</td>
                    <td>
                        <input id="txtDisplayOrder" name="txtDisplayOrder" type="text" class="input-medium">
                    </td>
                </tr>
                <tr>
                    <td>创建时间</td>
                    <td>
                        <input id="textADDTime" name="textADDTime" type="text" class="input-medium">
                    </td>
                </tr>
                <tr>
                    <td><input id="Button1" type="button" class="btn-success" style="margin-left:100px;margin-top:15px;width:50px;height:30px" onclick="add()" value="确认" /></td>
                    <td><input id="Button1_1" type="button" class="btn-info" style="margin-left:150px;margin-top:15px;width:50px;height:30px" value="取消" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="hide11" @*style="height: 300px;width:500px; margin-left:450px;position:absolute;margin-top:-350px;background-color:aliceblue"*@ hidden="hidden">
        <form class="navbar-form navbar-left" role="search">

            <dl>
                <dd>菜单编号</dd>
                <dd>
                    <input id="NodeId" type="text" hidden />
                    <input id="ParentNodeId1" name="ParentNodeId" type="text" class="input-medium">
                </dd>
            </dl>
            <dl>
                <dd>菜单名称</dd>
                <dd>
                    <input id="DisplayName1" name="DisplayName" type="text" placeholder="请输入菜单名称" class="input-medium">
                </dd>
            </dl>
            <dl>
                <dd>父级菜单编号</dd>
                <dd>
                    <input id="NodeURL1" name="NodeURL" type="text" class="input-medium">
                </dd>
            </dl>
            <dl>
                <dd>类型</dd>
                <dd>
                    <input id="State1" name="State" type="text" class="input-medium">
                </dd>
            </dl>
            <dl>
                <dd>路径</dd>
                <dd>
                    <input id="DisplayOrder1" name="DisplayOrder" type="text" class="input-medium">
                </dd>
            </dl>
            <dl>
                <dd>创建时间</dd>
                <dd>
                    <input id="ADDTime1" name="ADDTime" type="text"class="input-medium">
                </dd>
            </dl>
            <input id="Button1" type="button" class="btn-success" style="margin-left:100px;margin-top:1px;width:50px;height:30px" onclick="update()" value="确认" />
            <input id="Button1_1" type="button" class="btn-info" style="margin-left:150px;margin-top:15px;width:50px;height:30px" value="取消" />

        </form>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<script>
    var PageIndex = 1;
    var PageSize = 10;
    var PageCount = 0;
    var rows = 0;
    $(function () {
        get();

        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;
            //完整功能
            laypage.render({
                elem: 'pageDemo'
                , count: rows//总条数
                , limit: 10//每页显示数
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {

                    //设置当前页
                    PageIndex = obj.curr;
                    //设置每页显示
                    PageSize = obj.limit;
                    get();
                }
            });
        });



        $("#btnSubhh").click(function () {
            if ($("#jbox-content").css("display") == "none") {
                $("#jbox-content").show();

            } else {
                $("#jbox-content").hide();
            }
        });
        $("#Button1_1").click(function () {
            $("#jbox-content").hide();
        });
    });
    //function get() {
    //    $.ajax({
    //        type: "POST",
    //        url: "/LLJ/GetAllFunction",
    //        data: "{PageIndex:'" + PageIndex + "',PageSize:'" + PageSize + "'}",
    //        dataType: "json",
    //        contentType: "application/json",
    //        success: function (result) {
    ////            $("#tb1 tr").remove();
    //            rows = result.PageCount;
    //            $.each(result.DataList, function (index, data) {
    //                $("#tb1").append("<tr><td style='width: 20px; '><input type='checkbox'/></td><td id='hhh'>" + data.ID + "</td><td>" + data.DepartNum + "</td ><td>" + data.DepartName + "</td><td>" + ConvertDate(data.CreateTime) + "</td><td><input  class='btn btn-warning' type='button' value='删除' onclick='Del(" + data.ID + ")' /><a class='btn btn-warning' href='#'>编辑</a>&nbsp;<a href='#' class='btn btn-warning'>权限分配</a></td></tr>");
    //            })
    //        },
    //        error: function (ex) {
    //            alert("Error:" + ex.responseText);
    //        }
    //    })
    //}
    //分页查询
    function get() {

        $.ajax({
            type: "POST",
            url: "/LLJ/GetAllFunction",
            data: "{PageIndex:" + PageIndex + ",PageSize:" + PageSize + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tb1 tr").remove();
                rows = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tb1").append(
                        "<tr><td><input type='checkbox'/></td><td>" + data.NodeId + "</td><td>" + data.ParentNodeId + "</td><td>" + data.DisplayName + "</td><td>" + ConvertDate(data.ADDTime) + "</td><td>" + data.State + "</td><td><i class='layui-icon layui-icon-delete' type='button' title='删除' onclick='Del(" + data.NodeId + ")' /></i><a  href='javascript:reads(" + data.NodeId + ")'><i class='layui-icon layui-icon-edit' id='butten' title='编辑'></i></a>&nbsp;<a  href='#'><i href='#' class='layui-icon layui-icon-console' title='权限分配'></i></a></td></tr>");

                })
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);
            }
        })
    }

    function reads(NodeId) {
        //alert(NodeId);
        layer.open({
            type: 1,
            skin: 'layui-layer-demo',//样式类名
            title: ['编辑角色', 'font-size:18px'],
            area: ['400px', '359px'],
            shadeClose: true,
            content: $('#hide11'),
            shade: 0,

        });

        
        $.ajax({
            type: "POST",
            url: "/LLJ/FunctionGetById",
            data: "{NodeId:" + NodeId + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                alert(JSON.stringify(result))
                //console.log(result);
                $.each(result, function (Index, data) {
                    alert(data.ParentNodeId);
                    $("#NodeId").val(data.NodeId);
                    $("#ParentNodeId1").val(data.ParentNodeId);
                    $("#DisplayName1").val(data.DisplayName);
                    $("#NodeURL1").val(data.NodeURL);
                    $("#DisplayOrder1").val(data.DisplayOrder);
                    $("#ADDTime1").val(data.ADDTime);
                    $("#State1 ").val(data.State);
                    //NodeId = p.NodeId,
                    //    DisplayName = p.DisplayName,
                    //    NodeURL = p.NodeURL,
                    //    DisplayOrder = p.DisplayOrder,
                    //    ParentNodeId = p.ParentNodeId,
                    //    ADDTime = p.ADDTime,
                    //    State = p.State,
                });
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
    function update() {
        var NodeId = $("#NodeId").val();
        var ParentNodeId = $("#ParentNodeId1").val();
        var DisplayName = $("#DisplayName1").val();
        var NodeURL = 1;
        var DisplayOrder = $("#DisplayOrder1").val();
        var ADDTime = $("#ADDTime1").val();
        var State = $("#State1").val();
      
        $.ajax({
            type: "POST",
            url: "/LLJ/FunctionEdit",
            data: "{NodeId:'" + NodeId + "',DisplayName:'" + DisplayName + "',ParentNodeId:'" + ParentNodeId + "',NodeURL:'" + NodeURL + "',DisplayOrder:'" + DisplayOrder + "',ADDTime:'" + ADDTime + "',State:'" + State + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("修改成功");
                    get();
                } else {
                    alert("修改失败");
                }
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });


    } 
    //删除
    function Del(id) {
        //var id = $("[name='txtRolegbf5Num']").val();
        alert(id);
        var aaa = false;
        $.ajax({
            type: "POST",
            url: "/LLJ/caidandel", 
            data: "{NodeId:" + id + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("删除成功");
                    get();
                }
                else {
                    alert("删除失败");

                }
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);
            }
        });

    };
    //新增
    function add() {
       // alert("这是新增");
        var d = new Date();
        var time = d.getTime();
        var State = true;
        $.ajax({
            type: "post",
            url: "/LLJ/caidanadd",
            data: "{cd:{NodeId:'" + $("#NodeId").val() + "',DisplayName:'" + $("#txtDisplayName").val() + "',State:'" +true+ "',DisplayOrder:'" + 1 + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("添加成功")
                    // caidanadd();
                    get();
                }
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }
    function FunctionQuery() {
        var Search = $("#txtSearch").val();
        alert(PageIndex);
        $.ajax({
            type: "POST",
            url: "/LLJ/FunctionQuery",
            //data: "{PageIndex:" + PageIndex + ",PageSize:" + PageSize + ",DepartName:" + Search + "}",
            data: { PageIndex: PageIndex, PageSize: PageSize, DisplayName: Search },
            dataType: "json",
            //contentType: "application/json",
            success: function (result) {
                //alert(JSON.stringify(result));
                $("#tb1 tr").remove();
                rows = result.PageCount;
                $.each(result, function (index, data) {
                    $("#tb1").append(
                        "<tr><td><input type='checkbox'/></td><td>" + data.NodeId + "</td><td>" + data.ParentNodeId + "</td><td>" + data.DisplayName + "</td><td>" + ConvertDate(data.ADDTime) + "</td><td>" + data.State + "</td><td><i class='layui-icon layui-icon-delete' type='button' title='删除' onclick='Del(" + data.NodeId + ")' /></i><a  href='javascript:reads(" + data.NodeId + ")'><i class='layui-icon layui-icon-edit' id='butten' title='编辑'></i></a>&nbsp;<a  href='#'><i href='#' class='layui-icon layui-icon-console' title='权限分配'></i></a></td></tr>");
                })
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);
            }
        })

    }

    function ConvertDate(date) {
        var time = new Date(parseInt(date.substr(6)));
        return time.toLocaleDateString();
    }
</script>

