
@{
    ViewBag.Title = "GYSguanli";
    Layout = "~/Views/MainPage.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GYSguanli</title>
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    </head>
<body>
    <div style="border:0px solid #4cff00;width:95%; font-size:5px;">
        <div style="padding:15px;border:1px solid red">
            <div>
                <table>
                    <tr>
                        <td><a href="#">首页<</a></td>
                        <td>基本信息<</td>
                        <td>供应商管理</td>
                    </tr>
                </table>
                <div style="height:70px;">
                    <h4>供应商管理</h4>
                    <div style="float:right;display:inline;">
                        <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:xzshow()" onclick="User.PageClick(1)">新增</a>
                        <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:plsc();" >删除</a>
                        <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:huishou();">回收站</a>
                    </div>
                </div>
                <div id="huishou2">
                    <table id="tb2" class="table table-striped">
                        

                    </table>
                    </div>

                    <div id="xzdiv">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>供应商编号</td>
                                    <td>
                                        <input id="GysID" name="GysID" type="text" placeholder="自动生成,可不填" disabled="disabled" class="input-medium">
                                    </td>
                                    <td>供应商名称</td>
                                    <td>
                                        <input id="GysName" name="GysName" type="text" placeholder="请输入供应商名称" class="input-medium">
                                    </td>
                                </tr>
                                <tr>
                                    <td>传真</td>
                                    <td>
                                        <input id="ChuangZhen" name="ChuangZhen" type="text" class="input-medium">
                                    </td>
                                    <td>Email</td>
                                    <td>
                                        <input id="Email" name="Email" type="text" class="input-medium">
                                    </td>
                                </tr>
                                <tr>
                                    <td>电话</td>
                                    <td>
                                        <input id="Hone" name="Hone" type="text" class="input-medium">
                                    </td>
                                    <td>联系人</td>
                                    <td>
                                        <input id="Contacts" name="Contacts" type="text" class="input-medium">
                                    </td>
                                </tr>
                                <tr>
                                    <td>地址</td>
                                    <td>
                                        <input id="Address" name="Address" type="text" class="input-medium">
                                    </td>
                                    <td>描述</td>
                                    <td>
                                        <input id="Describe" name="Describe" type="text" class="input-medium">
                                    </td>
                                </tr>

                            </tbody>
                        </table>


                    </div>
                    <table action="javascript:void(0)" class="form-horizontal">
                        <tr>
                            <td><input id="sswb" type="text" class="input-group" placeholder="请选择供应商名称"></td>

                            <td>
                                <a style="margin-left:10px" id="" class="btn btn-info" href="javascript:void(0)" onclick="mohu()">搜索</a>
                            </td>

                        </tr>
                    </table>
                    <div class="widget" hidden>

                    </div>
                </div>
            <table style="width:100%;" class="table table-bordered">
                <thead>
                    <tr>
                        <td><input type="checkbox" id="check1" onclick="quanxuan('checkbox', 'reversecheck')" /></td>
                        <td>供应商编号</td>
                        <td>供应商类型</td>
                        <td>供应商名称</td>
                        <td>电话</td>
                        <td>Email</td>
                        <td>传真</td>
                        <td>联系人</td>
                        <td>地址</td>
                        <td>描述</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody id="tb1"></tbody>
            </table>
            
            @*layui分页*@
            <div id="pageDome">

            </div>
        </div>
    </div>
</body>
</html>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        var pageIndex = 1;
        var pageSize = 15;
        var rowss = 0;
        $(function () {
            $("#xzdiv").hide();
            $("#huishou2").hide();
            rukuList();

            layui.use(['laypage', 'layer'], function () {
                var laypage = layui.laypage
                    , layer = layui.layer;

                //完整功能
                laypage.render({
                    elem: 'pageDemo'
                    , count: rowss//总条数
                    , limit: 3//每页显示数
                    , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                    , jump: function (obj) {

                        //设置当前页
                        PageIndex = obj.curr;
                        //设置每页显示
                        PageSize = obj.limit;
                    }
                });
            });

           

        })
        function mohu() {
            var Search = $("#sswb").val();
            if (Search != null) {
                alert(Search);
                $.ajax({

                    type: "POST",
                    async: false,
                    url: "/LL/mohu",
                    data: { pageindex: pageIndex, pagesize: pageSize, GysName: Search },
                    dataType: "json",
                    //contentType: "application/json",
                    success: function (result) {
                        //alert(JSON.stringify(result));
                        $("#tb1 tr").remove();
                        rowss = result.PageCount;
                        $.each(result, function (index, data) {

                            $("#tb1").append("<tr><td><input type='checkbox' name='checkbox' class='check' data-id='" + data.GysID + "' /></td><td>" + data.GysID + "</td><td>" + data.GysType + "</td><td>" + data.GysName + "</td><td>" + data.Hone + "</td><td>" + data.Email + "</td><td>" + data.ChuangZhen + "</td><td>" + data.Contacts + "</td><td>" + data.Address + "</td><td>" + data.Describe + "</td><td><input class='btn btn-warning'  id='Button1' type='button' value='删除' onclick='del(" + data.GysID + ")' /><input class='btn btn-warning'  id='Button1' type='button' value='编辑' onclick='GetByID(" + data.GysID + ");' /></td> </tr>");

                        })
                    },
                    error: function (ex) {
                        alert("Error:" + ex.responseText);
                    }
                })
               
               
               
            } else {
                rukuList();
            }
            
            

        }
        //全选
        function quanxuan(objName, type) {
            var objNameList = document.getElementsByName(objName);
            if (null != objNameList) {
                for (var i = 0; i < objNameList.length; i++) {
                    if (objNameList[i].checked == true) {
                        if (type != 'checkall') {  // 非全选
                            objNameList[i].checked = false;
                        }
                    } else {
                        if (type != 'uncheckall') {  // 非取消全选
                            objNameList[i].checked = true;
                            //console.log($("input[name='checkbox']").data("id"));
                            //alert($("input[name='checkbox']").data("id"));

                        }
                    }
                }
            }
        }
        function plsc() {
            var fan = 0;
            var list = []
            $.each($("[name='checkbox']"), function (index, result) {
                //alert($(this).is("checked"));
                //console.log(result);
                if ($(this).prop("checked")) {
                    list.push($(this).data("id"));

                }
            });
            $.each(list, function (index2, result2) {
                alert(result2);
                $.ajax({
                    type: "POST",
                    url: "/LL/delGYS",
                    data: "{id:" + result2 + "}",
                    dataType: "json",
                    contentType: "application/json",
                    success: function (result) {
                        //console.log(result);
                        if (result > 0) {
                            alert("删除成功");
                            list = [];
                            window.location.reload();

                        } else {
                            alert("删除失败");

                        }
                    },
                    error: function (ex) {
                        alert(ex.responseText);
                    }
                });

            })
        }
        function GetByID(id) {
            layer.open({
                type: 1,
                skin: 'layui-layer-demo',//样式类名
                title: ['修改供应商', 'font-size:18px'],
                area: ['650px', '359px'],
                shadeClose: true,
                shade: 0,
                content: $('#xzdiv'),
                btn: ['确定', '取消'],
                yes: function () {
                    Edit();
                },
            });
            $.ajax({
                type: "POST",
                url: "/LL/GYSGetById",
                data: "{id:" + id + "}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    //console.log(result);
                    $.each(result, function (Index, data) {

                        $("#GysID").val(data.GysID);
                        $("#GysType").val(data.GysType);
                        $("#GysName").val(data.GysName);
                        $("#Hone").val(data.Hone);
                        $("#ChuangZhen").val(data.ChuangZhen);
                        $("#Email").val(data.Email);
                        $("#Contacts").val(data.Contacts);
                        $("#Address").val(data.Address);
                        $("#Describe").val(data.Describe);

                    });
                },
                error: function (ex) {
                    alert(ex.responseText);
                }
            });
        }
        function Edit() {
            var GysType = "合作供应商";
            $.ajax({
                type: "POST",
                url: "/LL/GYSEdit",
                //data: "{lo:" + jsons + "}",
                data: "{sup:{GysID:'" + $("#GysID").val() + "',GysName:'" + $("#GysName").val() + "',GysType:'" + GysType + "',ChuangZhen:'" + $("#ChuangZhen").val() + "',Email:'" + $("#Email").val() + "',Hone:'" + $("#Hone").val() + "',Contacts:'" + $("#Contacts").val() + "',Address:'" + $("#Address").val() + "',Describe:'" + $("#Describe").val() + "'}}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("修改成功");
                        window.location.reload();

                    }
                    else {
                        alert("修改失败");

                    }
                },
                //请求失败后的回调函数
                error: function (ex) {
                    alert(ex.responseText);
                }
            });
        }

        function rukuList() {
            $.ajax({
                type: "POST",
                url: "/LL/Listfenye2",
                data: "{pageindex:" + pageIndex + ",pagesize:" + pageSize + "}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    console.log("1");
                    $("#tb1 tr").remove();
                    rowss = result.PageCount;
                    $.each(result.DataList, function (index, data) {
                        $("#tb1").append("<tr><td><input type='checkbox' name='checkbox' class='check' data-id='" + data.GysID +"' /></td><td>" + data.GysID + "</td><td>" + data.GysType + "</td><td>" + data.GysName + "</td><td>" + data.Hone + "</td><td>" + data.Email + "</td><td>" + data.ChuangZhen + "</td><td>" + data.Contacts + "</td><td>" + data.Address + "</td><td>" + data.Describe + "</td><td><input class='btn btn-warning'  id='Button1' type='button' value='删除' onclick='del(" + data.GysID + ")' /><input class='btn btn-warning'  id='Button1' type='button' value='编辑' onclick='GetByID(" + data.GysID + ");' /></td> </tr>");
                    });
                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);

                }
            });
        }
        
        function xzshow() {
            
            layer.open({
                type: 1,
                skin: 'layui-layer-demo',//样式类名
                title: ['添加供应商', 'font-size:18px'],
                area: ['650px', '359px'],
                shadeClose: true,
                shade: 0,
                content: $('#xzdiv'),
                btn: ['确定', '取消'],
                yes: function () {
                    add();
                },
            });
        }
        function huishou() {
            //$("#huishou2").show();
            layer.open({
                type: 1,
                skin: 'layui-layer-demo',//样式类名
                title: ['回收站', 'font-size:18px'],
                area: ['800px', '359px'],
                shadeClose: true,
                shade: 0,
                content: $('#huishou2'),
                btn: ['确定', '取消'],
                yes: function () {
                    
                },
            });
            $.ajax({
                type: "POST",
                url: "/LL/huishou",
                data: "{}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    
                    $("#tb2 tr").remove();
                    
                    $.each(result, function (index, data) {
                        $("#tb2").append("<tr><td><input type='checkbox' name='checkbox' class='check' data-id='" + data.GysID + "' /></td><td>" + data.GysID + "</td><td>" + data.GysType + "</td><td>" + data.GysName + "</td><td>" + data.Contacts + "</td><td>" + data.Address + "</td><td><input class='btn btn-warning'  id='Button1' type='button' value='还原' onclick='huanyuan(" + data.GysID + ")' /></td></tr><br/>");
                    });
                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);

                }
            });


        }
        function add() {

            $.ajax({
                type: "POST",
                url: "/LL/GYSAdd",
                //data: "{lo:" + jsons + "}",
                data: "{sup:{GysName:'" + $("#GysName").val() + "',GysType:'" + $("#GysType").val() + "',ChuangZhen:'" + $("#ChuangZhen").val() + "',Email:'" + $("#Email").val() + "',Hone:'" + $("#Hone").val() + "',Contacts:'" + $("#Contacts").val() + "',Address:'" + $("#Address").val() + "',Describe:'" + $("#Describe").val() + "'}}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("添加成功");
                        window.location.reload();
                    }
                    else {
                        alert("添加失败");

                    }
                },
                //请求失败后的回调函数
                error: function (ex) {
                    alert(ex.responseText);
                }
            });


        }

        function huanyuan(id) {
            $.ajax({
                type: "POST",
                url: "/LL/huanyuan",
                data: "{id:" + id + "}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("还原成功");
                        window.location.reload();

                    } else {
                        alert("还原失败");
                    }
                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);

                }
            });
        }
        function del(id) {
            $.ajax({
                type: "POST",
                url: "/LL/delGYS",
                data: "{id:" + id + "}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("删除成功");
                        window.location.reload();

                    } else {
                        alert("删除失败");
                    }
                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);

                }
            });
        }

        function ConvertDate(date) {
            var time = new Date(parseInt(date.substr(6)));
            return time.toLocaleDateString();
        }
    </script>
