
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/MainPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div style="border:0px solid #4cff00;width:95%;">
        <div style="padding:15px;border:1px solid red">
            <div>
                <table>
                    <tr>
                        <td><a href="#">首页<</a></td>
                        <td>基本信息<</td>
                        <td>库位管理</td>
                    </tr>
                </table>
                <div style="height:70px;">
                    <h4>库位管理</h4>
                    <div style="float:right;display:inline;">
                        <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="xzshow()">新增</a>
                        <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="User.PageClick(1)">导出</a>
                    </div>
                </div>
                <div id="xzdiv">

                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>库位编号</td>
                                <td>
                                    <input id="kwID" name="kwID" type="text" placeholder="自动生成,可不填" disabled="disabled" class="input-medium" />
                                </td>
                                <td>库位名称</td>
                                <td>
                                    <input id="qwerty" name="kwName" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>库位类型</td>
                                <td>
                                    <select id="kw" name="kwType" style="width:164px;">
                                        <option>请选择库位类型</option>
                                        @*<option value="1">正式库区</option>
                                            <option value="2">待入库区</option>
                                            <option value="3">待检库区</option>
                                            <option value="4">待出库区</option>
                                            <option value="5">报损库区</option>*@
                                    </select>
                                </td>
                                <td>仓库</td>
                                <td>
                                    <select id="ck" name="CKName" style="width:164px;">
                                        <option>请选择仓库</option>

                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>是否默认</td>
                                <td>
                                    <select id="zt" name="Zhuangtai" style="width:164px;">
                                        <option value="">请选择</option>
                                        <option value="1">是</option>
                                        <option value="2">否</option>
                                    </select>
                                </td>
                                <td>创建时间</td>
                                <td><input id="Time1" name="Time" type="text" placeholder="请输入当前时间" /></td>
                            </tr>



                        </tbody>
                    </table>



                </div>

                <table action="javascript:void(0)" class="form-horizontal">
                    <tr>
                        <td>仓库:<input id="txtSearch" type="text" class="input-group" placeholder="请选择仓库"></td>
                        <td>类型:<input id="txtSearch" type="text" class="input-group" placeholder="请选择"></td>
                        <td>库位:<input id="txtSearch" type="text" class="input-group" placeholder=""></td>
                        <td>
                            <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="User.PageClick(1)">搜索</a>
                        </td>

                    </tr>
                </table>
                <div class="widget" hidden>

                </div>
            </div>
            <table style="width:100%;" class="table table-bordered">
                <thead>
                    <tr>
                        <td><input type='checkbox' /></td>
                        <td>序号</td>
                        <td>库位编号</td>
                        <td>库位名</td>
                        <td>所在仓库</td>
                        <td>库位类型</td>
                        <td>是否禁用</td>
                        <td>是否默认</td>
                        <td>创建时间</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody id="tb1"></tbody>
            </table>
            @*layui分页*@
            <div id="pageDome">

            </div>
        </div>
    </div>
</body>
</html>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<script>
    var pageIndex = 1;
    var pageSize = 10;
    var rowss = 0;
    $(function () {
        $("#xzdiv").hide();
        rukuList();
        CK();
        Type();

        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;

            //完整功能
            laypage.render({
                elem: 'pageDemo'
                , count: rowss//总条数
                , limit: 3//每页显示数
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {

                    //设置当前页
                    PageIndex = obj.curr;
                    //设置每页显示
                    PageSize = obj.limit;
                }
            });
        });




    })
    
    function xzshow() {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo',//样式类名
            title: ['添加库位', 'font-size:18px'],
            area: ['650px', '359px'],
            shadeClose: true,
            shade: 0,
            content: $('#xzdiv'),
            btn: ['确定', '取消'],
            yes: function () {
                add();
            },
        });


    }
    function Type() {
        $.ajax({
            type: "POST",
            url: "/LL/selectType",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("[name='kwType']").append("<option value='" + data.KwID + "'>" + data.KwName + "</option>");
                });
            },
            //请求失败后的回调函数
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
    function CK() {
        $.ajax({
            type: "POST",
            url: "/LL/selectCK",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("[name='CKName']").append("<option value='" + data.Ckid + "'>" + data.CKName + "</option>");
                });
            },
            //请求失败后的回调函数
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }

    function add() {

        $.ajax({
            type: "POST",
            url: "/LL/KWAdd",
            data: "{lo:{kwName:'" + $("#qwerty").val() + "',CangKu:'" + $("#ck").val() + "',kwType:'" + $("#kw").val() + "',Zhuangtai:'" + $("#zt").val() + "',Time:'" + $("#Time1").val() + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("添加成功");
                    window.location.reload();
                }
                else {
                    alert("添加失败");

                }
            },
            //请求失败后的回调函数
            error: function (ex) {
                alert(ex.responseText);
            }
        });


    }
    function del(id) {
        $.ajax({
            type: "POST",
            url: "/LL/delKW",
            data: "{id:" + id + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("删除成功");
                    window.location.reload();

                } else {
                    alert("删除失败");
                }
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }
    function rukuList() {
        $.ajax({
            type: "POST",
            url: "/LL/Listfenye1",
            data: "{pageindex:" + pageIndex + ",pagesize:" + pageSize + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tb1 tr").remove();
                rowss = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tb1").append("<tr><td><input type='checkbox'/></td><td>" + data.kwID + "</td><td>" + data.kwID + "</td><td>" + data.kwName + "</td><td>" + data.CKName + "</td><td>" + data.kwType + "</td><td>" + data.Isdefault + "</td><td>" + data.Zhuangtai + "</td><td>" + ConvertDate(data.Time) + "</td><td><input class='btn btn-warning'  id='Button1' type='button' value='删除' onclick='del(" + data.kwID + ")' /><input class='btn btn-warning'  id='Button1' type='button' value='编辑' onclick='GetByID(" + data.kwID + ");' /></td></tr>");
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }

    function GetByID(id) {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo',//样式类名
            title: ['修改库位', 'font-size:18px'],
            area: ['650px', '359px'],
            shadeClose: true,
            shade: 0,
            content: $('#xzdiv'),
            btn: ['确定', '取消'],
            yes: function () {
                Edit();
            },
        });
        $.ajax({
            type: "POST",
            url: "/LL/KWGetByID",
            data: "{kwID:" + id + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                //console.log(result);
                $.each(result, function (Index, data) {

                    $("#kwID").val(data.kwID);
                    $("#qwerty").val(data.kwName);
                    $("#kw").val(data.KwTypeID);
                    $("#ck").val(data.Ckid);
                    $("#zt").val(data.Zhuangtai);
                    $("#Time1").val(ConvertDate(data.Time));

                });
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
    function Edit() {
        $.ajax({
            type: "POST",
            url: "/LL/KWEdit",
            //data: "{lo:" + jsons + "}",
            data: "{lo:{kwID:'" + $("#kwID").val() + "',kwName:'" + $("#qwerty").val() + "',CangKu:'" + $("#ck").val() + "',kwType:'" + $("#kw").val() + "',Zhuangtai:'" + $("#zt").val() + "',Isdefault:'" + $("#zt").val() + "',Time:'" + $("#Time1").val() + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("修改成功");
                    window.location.reload();

                }
                else {
                    alert("修改失败");

                }
            },
            //请求失败后的回调函数
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }

    function ConvertDate(date) {
        var time = new Date(parseInt(date.substr(6)));
        return time.toLocaleDateString();
    }
</script>
