
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MainPage.cshtml";
}


<link href="~/Css/bootstrap.min.css" rel="stylesheet" />
<link href="~/layui/css/layui.css" rel="stylesheet" />
<div style="border:0px solid #4cff00;width:95%;">
    <div style="padding:15px;border:1px solid red">
        <div>
            <table>
                <tr>
                    <td><a href="#">首页<</a></td>
                    <td>基本信息<</td>
                    <td>库位管理</td>
                </tr>
            </table>
            <div style="height:70px;">
                <h4>库位管理</h4>
                <div style="float:right;display:inline;">
                    <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="xzshow()">新增</a>
                    <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="User.PageClick(1)">导出</a>
                </div>
            </div>
            <div id="xzdiv">
                <form id="form1">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>库位编号</td>
                                <td>
                                    <input id="kwID" name="kwID" type="text" placeholder="自动生成,可不填" disabled="disabled" class="input-medium">
                                </td>
                                <td>库位名称</td>
                                <td>
                                    <input id="kwName" name="kwName" type="text" placeholder="请输入库位名称" >
                                </td>
                            </tr>
                            <tr>
                                <td>库位类型</td>
                                <td>
                                    <select id="kwType" name="kwType"  style="width:164px;">
                                        <option value="">请选择库位类型</option>
                                        <option value="1">正式库区</option>
                                        <option value="2">待入库区</option>
                                        <option value="3">待检库区</option>
                                        <option value="4">待出库区</option>
                                        <option value="5">报损库区</option>
                                    </select>
                                </td>
                                <td>仓库</td>
                                <td>
                                    <select id="CKName" name="CKName"  style="width:164px;">
                                        <option value="">请选择仓库</option>
                                        <option value="1">产品仓库</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>是否默认</td>
                                <td>
                                    <select id="Zhuangtai" name="Zhuangtai"  style="width:164px;">
                                        <option value="">请选择</option>
                                        <option value="1">是</option>
                                        <option value="2">否</option>
                                    </select>
                                </td>
                                <td>创建时间</td>
                                <td><input id="Time" name="Time" type="text" placeholder="请输入当前时间" ></td>
                            </tr>
                            


                        </tbody>
                    </table>
                    <input id="Button1" type="button" value="button"  onclick="add()"/>
                    </form>

</div>

            <table action="javascript:void(0)" class="form-horizontal">
                <tr>
                    <td>仓库:<input id="txtSearch" type="text" class="input-group" placeholder="请选择仓库"></td>
                    <td>类型:<input id="txtSearch" type="text" class="input-group" placeholder="请选择"></td>
                    <td>库位:<input id="txtSearch" type="text" class="input-group" placeholder=""></td>
                    <td>
                        <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="User.PageClick(1)">搜索</a>
                    </td>

                </tr>
            </table>
            <div class="widget" hidden>

            </div>
        </div>
        <table style="width:100%;" class="table table-bordered">
            <thead>
                <tr>
                    <td><input type='checkbox' /></td>
                    <td>序号</td>
                    <td>库位编号</td>
                    <td>库位名</td>
                    <td>所在仓库</td>
                    <td>库位类型</td>
                    <td>是否禁用</td>
                    <td>是否默认</td>
                    <td>创建时间</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody id="tb1"></tbody>
        </table>
        @*layui分页*@
        <div id="pageDome">

        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<script>
    var pageIndex = 1;
    var pageSize = 10;
    var rowss = 0;
    $(function () {
        $("#xzdiv").hide();
        rukuList();

        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;

            //完整功能
            laypage.render({
                elem: 'pageDome'
                , count: rowss
                , limit: 3
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {
                    pageIndex = obj.curr;
                    pageSize = obj.limit;
                    
                }
            });
        });


       

    })
    function xzshow() {
        layer.open({
            type:1,
            skin: 'layui-layer-demo',//样式类名
            title: ['添加库位', 'font-size:18px'],
            area: ['650px', '359px'],
            shadeClose: true,
            content: $('#xzdiv').html(),
            btn: ['确定', '取消'],
            yes: function () {
                add();
            },
        });

        
    }
    function add() {

        //获取对应表单下的表单元素的值  注意:此方法返回的是JSON对象而非JSON字符串
        //var data = $("#form1").serializeArray();
        //var obj = {};
        //$.each(data, function (a, b) {
        //    obj[b.name] = b.value;
        //});
        //var jsons = JSON.stringify(obj);
        $.ajax({  
            type: "POST",
            url: "/LL/KWAdd",
            //data: "{lo:kwName:'" + $("[name='kwName']").val() + "'CangKu:'" + $("[name='CangKu']").val() + "'kwType:'" + $("[name='kwType']").val() + "'Zhuangtai:'" + $("[name='Zhuangtai']").val() + "'Time:'" + $("[name='Time']").val()+ "'}}",
            //data: "{lo:" + jsons + "}",
            data: "{lo:{kwName:'" + $("#kwName").val() + "',CKName:'" + $("#CKName").val() + "',kwType:'" + $("#kwType").val() + "',Time:'" + $("#Time").val()+ "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert($("#kwName").text());
                    alert("添加成功");
                    //location.href = '/AJAXDemo/Index';
                }
                else {
                    alert("添加失败");

                }
            },
            //请求失败后的回调函数
            error: function (ex) {
                alert(ex.responseText);
            }
        });

        //var data = $("#form1").serializeArray();
        //var obj = {};
        //$.each(data, function (a, b) {
        //    obj[b.name] = b.value;
        //});
        //var jsons = JSON.stringify(obj);
        //$.ajax({
        //    type: "POST",
        //    url: "/LL/KWAdd",
        //    //data: "{lo:kwName:'" + $("[name='kwName']").val() + "'CangKu:'" + $("[name='CangKu']").val() + "'kwType:'" + $("[name='kwType']").val() + "'Zhuangtai:'" + $("[name='Zhuangtai']").val() + "'Time:'" + $("[name='Time']").val()+ "'}}",
        //    data: "{lo:" + jsons + "}",
        //    dataType: "json",
        //    contentType: "application/json",
        //    success: function (result) {
        //        if (result > 0) {
        //            alert("新增成功");
        //            window.location.reload();
        //        } else {
        //            alert("删除失败");
        //        }
        //    },
        //    error: function (ex) {
        //        alert("Error:" + ex.responseText);

        //    }
        //});
    }
    function rukuList() {
        $.ajax({
            type: "POST",
            url: "/LL/Listfenye1",
            data: "{pageindex:" + pageIndex + ",pagesize:" + pageSize + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                console.log("1");
                $("#tt tr").remove();
                rowss = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tb1").append("<tr><td><input type='checkbox'/></td><td>" + data.kwID + "</td><td>" + data.kwID + "</td><td>" + data.kwName + "</td><td>" + data.CKName + "</td><td>" + data.kwType + "</td><td>" + data.Zhuangtai + "</td><td>" + data.Isdefault + "</td><td>" + ConvertDate(data.Time) + "</td><td>" + data.Shuju + "</td></tr>");
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }

    function ConvertDate(date) {
        var time = new Date(parseInt(date.substr(6)));
        return time.toLocaleDateString();
    }
</script>
