
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/MainPage.cshtml";
}


<link href="~/Css/bootstrap.min.css" rel="stylesheet" />

<div style="border:0px solid #4cff00;width:95%;">
    <div style="padding:15px;border:1px solid red">
        <div>
            <table>
                <tr>
                    <td><a href="#">首页<</a></td>
                    <td>基本信息<</td>
                    <td>库位管理</td>
                </tr>
            </table>
            <div>
                <h4>库位管理</h4>
                <div style="float:right;display:inline-block;">
                    @*<input style="margin-left:1200px;" id="btnSubhh"  type="button" value="新增" />
                        <input style="margin-left:10px;" id="btnSub"  type="button" value="导出" />*@
                </div>
            </div>

            <table action="javascript:void(0)" class="form-horizontal">
                <tr>
                    <td>仓库:<input id="txtSearch" type="text" class="input-group" placeholder="请选择仓库"></td>
                    <td>类型:<input id="txtSearch" type="text" class="input-group" placeholder="请选择"></td>
                    <td>库位:<input id="txtSearch" type="text" class="input-group" placeholder=""></td>
                    <td>
                        <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="User.PageClick(1)">搜索</a>
                    </td>

                </tr>
            </table>
            <div class="widget" hidden>

            </div>
        </div>
        <table style="width:100%;" class="table table-bordered">
            <thead>
                <tr>
                    <td><input type='checkbox' /></td>
                    <td>序号</td>
                    <td>库位编号</td>
                    <td>库位名</td>
                    <td>所在仓库</td>
                    <td>库位类型</td>
                    <td>是否禁用</td>
                    <td>是否默认</td>
                    <td>创建时间</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody id="tb1"></tbody>
        </table>
        @*layui分页*@
        <div id="pageDome">

        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    var pageIndex = 1;
    var pageSize = 10;
    var rowss = 0;
    $(function () {
        rukuList();

        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;

            //完整功能
            laypage.render({
                elem: 'pageDome'
                , count: rowss
                , limit: 3
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {
                    pageIndex = obj.curr;
                    pageSize = obj.limit;
                    rukuList();
                }
            });
        });


       

    })


    function rukuList() {
        $.ajax({
            type: "POST",
            url: "/LL/Listfenye",
            data: "{pageindex:" + pageIndex + ",pagesize:" + pageSize + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                console.log("1");
                $("#tt tr").remove();
                rowss = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tb1").append("<tr><td><input type='checkbox'/></td><td>" + data.kwID + "</td><td>" + data.StockRemovalType + "</td><td>" + data.SupplierID + "</td><td>" + data.AssociatedNumber + "</td><td>" + data.GoodsCount + "</td><td>" + data.Summoney + "</td><td>" + data.State + "</td><td>" + data.OperationType + "</td><td>" + data.EmployeeID + "</td><td>" + ConvertDate(data.CreationTime) + "</td><td>caozuo</td></tr>");
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }

    function ConvertDate(date) {
        var time = new Date(parseInt(date.substr(6)));
        return time.toLocaleDateString();
    }
</script>
