
@{
    ViewBag.Title = "KHguanli";
    Layout = "~/Views/MainPage.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>KHguanli</title>
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    </head>
<body>
    <div style="border:0px solid #4cff00;width:95%;">
        <div style="padding:15px;border:1px solid red">
            <div>
                <table>
                    <tr>
                        <td><a href="#">首页<</a></td>
                        <td>基本信息<</td>
                        <td>客户管理</td>
                    </tr>
                </table>
                <div style="height:70px;">
                    <h4>客户管理</h4>
                    <div style="float:right;display:inline;">
                        <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:xzshow()" onclick="User.PageClick(1)">新增</a>
                        <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:plsc()" onclick="User.PageClick(1)">删除</a>
                        <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="User.PageClick(1)">导出</a>
                    </div>
                </div>

                <table action="javascript:void(0)" class="form-horizontal">
                    <tr>
                        <td><input id="sswb" type="text" class="input-group" placeholder="请选择客户名称"></td>

                        <td>
                            <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:mohu()" onclick="">搜索</a>
                        </td>

                    </tr>
                </table>
                <div class="widget" hidden>

                </div>
            </div>
            <table style="width:100%;" class="table table-bordered">
                <thead>
                    <tr>
                        <td><input type='checkbox' /></td>
                        <td>客户编号</td>
                        <td>客户名称</td>
                        <td>电话</td>
                        <td>传真</td>
                        <td>创建时间</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody id="tb1"></tbody>
            </table>
            <div id="xzdiv">
                <table class="table table-striped">
                    <tbody>
                        
                        <tr>
                            <td><input id="ID" name="ID" type="hidden" class="input-medium">编号</td>
                            <td>
                                <input id="KhID" name="KhID" type="text" class="input-medium">
                            </td>
                            <td>名称</td>
                            <td>
                                <input id="KhName" name="KhName" type="text" class="input-medium">
                            </td>
                        </tr>
                        <tr>
                            <td>备注</td>
                            <td>
                                <input id="beizhu" name="beizhu" type="text" class="input-medium">
                            </td>
                            <td>传真</td>
                            <td>
                                <input id="chuanzhen" name="chuanzhen" type="text" class="input-medium">
                            </td>
                        </tr>
                        <tr>
                            <td>Eamil</td>
                            <td>
                                <input id="youxiang" name="youxiang" type="text" class="input-medium">
                            </td>
                            <td><input id="Time" name="Time" type="hidden" class="input-medium">电话</td>
                            <td>
                                <input id="Hone" name="Hone" type="text" class="input-medium">
                            </td>
                        </tr>



                    </tbody>
                </table>


            </div>
            @*layui分页*@
            <div id="pageDome">

            </div>
        </div>
    </div>
</body>
</html>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        var pageIndex = 1;
        var pageSize = 10;
        var rowss = 0;
        $(function () {
            rukuList();
            $("#xzdiv").hide();


            layui.use(['laypage', 'layer'], function () {
                var laypage = layui.laypage
                    , layer = layui.layer;

                //完整功能
                laypage.render({
                    elem: 'pageDemo'
                    , count: rowss//总条数
                    , limit: 3//每页显示数
                    , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                    , jump: function (obj) {

                        //设置当前页
                        PageIndex = obj.curr;
                        //设置每页显示
                        PageSize = obj.limit;
                    }
                });
            });




        })
        function mohu() {
            var Search = $("#sswb").val();
            alert(Search);
            $.ajax({
                type: "POST",
                async: false,
                url: "/LL/mohuKH",
                data: { pageindex: pageIndex, pagesize: pageSize, KHname: Search },
                dataType: "json",
                //contentType: "application/json",
                success: function (result) {
                    //alert(JSON.stringify(result));
                    $("#tb1 tr").remove();
                    rowss = result.PageCount;
                    $.each(result, function (index, data) {
                        $("#tb1").append("<tr><td><input type='checkbox' name='checkbox' class='check' data-id='" + data.KhID + "' /></td><td>" + data.KhID + "</td><td>" + data.KhName + "</td><td>" + data.Hone + "</td><td>" + data.chuanzhen + "</td><td>" + ConvertDate(data.Time) + "</td><td><input class='btn btn-warning'  id='Button1' type='button' value='删除' onclick='del(" + data.ID + ")' /><input class='btn btn-warning'  id='Button1' type='button' value='编辑' onclick='GetByID(" + data.ID + ");' /></td></tr>");
                        //$("#tb1").append("<tr><td><input type='checkbox' name='checkbox' class='check' data-id='" + data.GysID + "' /></td><td>" + data.GysID + "</td><td>" + data.GysType + "</td><td>" + data.GysName + "</td><td>" + data.Hone + "</td><td>" + data.Email + "</td><td>" + data.ChuangZhen + "</td><td>" + data.Contacts + "</td><td>" + data.Address + "</td><td>" + data.Describe + "</td><td><input class='btn btn-warning'  id='Button1' type='button' value='删除' onclick='del(" + data.GysID + ")' /><input class='btn btn-warning'  id='Button1' type='button' value='编辑' onclick='GetByID(" + data.GysID + ");' /></td> </tr>");

                    })
                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);
                }
            })

        }

        function rukuList() {
            $.ajax({
                type: "POST",
                url: "/LL/Listfenye3",
                data: "{pageindex:" + pageIndex + ",pagesize:" + pageSize + "}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    
                    $("#tb1 tr").remove();
                    rowss = result.PageCount;
                    $.each(result.DataList, function (index, data) {
                        $("#tb1").append("<tr><td><input type='checkbox' name='checkbox' class='check' data-id='" + data.KhID +"' /></td><td>" + data.KhID + "</td><td>" + data.KhName + "</td><td>" + data.Hone + "</td><td>" + data.chuanzhen + "</td><td>" + ConvertDate(data.Time) + "</td><td><input class='btn btn-warning'  id='Button1' type='button' value='删除' onclick='del(" + data.ID + ")' /><input class='btn btn-warning'  id='Button1' type='button' value='编辑' onclick='GetByID(" + data.ID + ");' /></td></tr>");
                    });
                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);

                }
            });
        }
        function xzshow() {
            layer.open({
                type: 1,
                skin: 'layui-layer-demo',//样式类名
                title: ['添加客户', 'font-size:18px'],
                area: ['650px', '359px'],
                shadeClose: true,
                shade: 0,
                content: $('#xzdiv'),
                btn: ['确定', '取消'],
                yes: function () {
                    add();
                },
            });


        }
        function plsc() {
            var fan = 0;
            var list = []
            $.each($("[name='checkbox']"), function (index, result) {
                //alert($(this).is("checked"));
                //console.log(result);
                if ($(this).prop("checked")) {
                    list.push($(this).data("id"));

                }
            });
            $.each(list, function (index2, result2) {
                alert(result2);
                $.ajax({
                    type: "POST",
                    url: "/LL/delKH",
                    data: "{id:" + result2 + "}",
                    dataType: "json",
                    contentType: "application/json",
                    success: function (result) {
                        //console.log(result);
                        if (result > 0) {
                            alert("删除成功");
                            window.location.reload();

                        } else {
                            alert("删除失败");

                        }
                    },
                    error: function (ex) {
                        alert(ex.responseText);
                    }
                });

            })
        }
        function add() {
            
            $.ajax({
                type: "POST",
                url: "/LL/KHAdd",
                //data: "{lo:" + jsons + "}",
                data: "{c:{KhID:'" + $("#KhID").val() + "',KhName:'" + $("#KhName").val() + "',beizhu:'" + $("#beizhu").val() + "',chuanzhen:'" + $("#chuanzhen").val() + "',youxiang:'" + $("#youxiang").val() + "',Hone:'" + $("#Hone").val() + "'}}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("添加成功");
                        window.location.reload();
                    }
                    else {
                        alert("添加失败");

                    }
                },
                //请求失败后的回调函数
                error: function (ex) {
                    alert(ex.responseText);
                }
            });


        }
        function GetByID(id) {
            layer.open({
                type: 1,
                skin: 'layui-layer-demo',//样式类名
                title: ['修改客户', 'font-size:18px'],
                area: ['650px', '359px'],
                shadeClose: true,
                shade: 0,
                content: $('#xzdiv'),
                btn: ['确定', '取消'],
                yes: function () {
                    Edit();
                },
            });
            $.ajax({
                type: "POST",
                url: "/LL/KhGetById",
                data: "{ID:" + id + "}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    //console.log(result);
                    $.each(result, function (Index, data) {
                        $("#ID").val(data.ID);
                        $("#Time").val(data.Time);
                        $("#KhID").val(data.KhID);
                        $("#KhName").val(data.KhName);
                        $("#beizhu").val(data.beizhu);
                        $("#chuanzhen").val(data.chuanzhen);
                        $("#youxiang").val(data.youxiang);
                        $("#Hone").val(data.Hone);

                    });
                },
                error: function (ex) {
                    alert(ex.responseText);
                }
            });
        }
        function Edit() {
            $.ajax({
                type: "POST",
                url: "/LL/KhEdit",
                //data: "{lo:" + jsons + "}",
                data: "{c:{ID:'" + $("#ID").val() + "',KhID:'" + $("#KhID").val() + "',KhName:'" + $("#KhName").val() + "',beizhu:'" + $("#beizhu").val() + "',chuanzhen:'" + $("#chuanzhen").val() + "',youxiang:'" + $("#youxiang").val() + "',Hone:'" + $("#Hone").val() + "',Time:'" + $("#Time").val() + "'}}",
                //data: "{lo:{kwID:'" + $("#kwID").val() + "',kwName:'" + $("#qwerty").val() + "',CangKu:'" + $("#ck").val() + "',kwType:'" + $("#kw").val() + "',Zhuangtai:'" + $("#zt").val() + "',Isdefault:'" + $("#zt").val() + "',Time:'" + $("#Time1").val() + "'}}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("修改成功");
                        window.location.reload();

                    }
                    else {
                        alert("修改失败");

                    }
                },
                //请求失败后的回调函数
                error: function (ex) {
                    alert(ex.responseText);
                }
            });
        }
        function del(id) {
            $.ajax({
                type: "POST",
                url: "/LL/delKH",
                data: "{id:" + id + "}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("删除成功");
                        window.location.reload();
                    } else {
                        alert("删除失败");
                    }
                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);

                }
            });
        }


        function ConvertDate(date) {
            var time = new Date(parseInt(date.substr(6)));
            return time.toLocaleDateString();
        }
    </script>

