
@{
    ViewBag.Title = "CpGl";
    Layout = "~/Views/MainPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CpGl</title>
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div style="border:0px solid #4cff00;width:100%;">
        <div style="padding:15px;border:1px solid red">
            <div>
                <table>
                    <tr>
                        <td><strong style="margin-left:20px">产品管理</strong></td>
                        <td> <a style="margin-left:800px;" id="btnSubhh" class="btn btn-primary" href="javascript:insert()">新增</a></td>
                        <td> <input style="margin-left:10px;" id="btnSub" class="btn btn-danger" type="button" value="删除" /></td>
                        <td> <input style="margin-left:10px;" id="btnSub" class="btn btn-info" type="button" value="导出" /></td>
                    </tr>
                </table>
                <table action="javascript:void(0)" class="form-horizontal">
                    <tr>
                        <td><input id="txtSearch" type="text" class="input-group" placeholder="请输入类别编号或者名称"></td>
                        <td>
                            <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="User.PageClick(1)">搜索</a>
                        </td>
                    </tr>
                </table>
            </div>
            <table style="width:100%;" class="table table-bordered">
                <thead>
                    <tr>
                        <td style="width:20px;"><input type="checkbox" /></td>
                        <td>序号</td>
                        <td>显示名</td>
                        <td>上限</td>
                        <td>下限</td>
                        <td>价格</td>
                        <td>规格</td>
                        <td>数量</td>
                        <td>类别</td>
                        <td>单位</td>
                        <td>备注</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody id="tb1"></tbody>
            </table>

            @*分页*@
            <div id="pageDemo">

            </div>
        </div>
    </div>
    <div id="jbox-content" hidden>
        <table class="formtab_user">
            <tbody>
                <tr>
                    <td>产品编号</td>
                    <td>
                        <input id="txtCpID" name="txtCpID" type="text" placeholder="自动生成,可不填" class="input-medium" disabled="disabled">
                    </td>
                    <td>产品条码</td>
                    <td>
                        <input id="txtCpbh" name="txtCpbh" type="text" class="input-medium">
                    </td>
                </tr>
                <tr>
                    <td>产品名称</td>
                    <td>
                        <input id="txtCpXsName" name="txtCpXsName" type="password" class="input-medium">
                    </td>
                    <td>产品类别</td>
                    <td>
                        <select id="txtCpLbName" name="CpLbName" class="input-medium" style="width:164px;">
                            <option value="">请选择类别</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td>预警上限</td>
                    <td>
                        <input id="txtCpSx" name="txtCpSx" type="text" placeholder="0" class="input-medium">
                    </td>
                    <td>预警下限</td>
                    <td>
                        <input id="txtCpXx" name="txtCpXx" type="text" placeholder="0" class="input-medium">
                    </td>
                </tr>
                <tr>
                    <td>规格</td>
                    <td>
                        <input id="txtSpecification" name="txtSpecification" type="password" class="input-medium">
                    </td>
                    <td>单位</td>
                    <td>
                        <select id="txtCpJlName" name="CpJlName" class="input-medium" style="width:164px;">
                            <option value="">请选择单位</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td>价格</td>
                    <td>
                        <input id="txtCpPrice" name="txtCpPrice" type="password" class="input-medium">
                    </td>
                    <td>客户</td>
                    <td>
                        <select id="txtkhName" name="khName" class="input-medium" style="width:164px;">
                            <option value="">请选择客户</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td>默认仓库</td>
                    <td>
                        <select id="txtCkId" name="CkId" class="input-medium" style="width:164px;">
                            <option value="">请选择仓库</option>

                        </select>
                    </td>
                    <td>默认库位</td>
                    <td>
                        <select id="txtKwId" name="KwId" class="input-medium" style="width:164px;">
                            <option value="">请选择库位</option>

                        </select>
                    </td>
                </tr>
                <tr>
                    <td>产品数量</td>
                    <td>
                        <input id="txtCpShuLiang" name="txtCpShuLiang" type="text" placeholder="" class="input-medium">
                    </td>
                    <td>备注</td>
                    <td>
                        <input id="txtremark" name="txtremark" type="text" placeholder="" class="input-medium">
                    </td>
                </tr>
            </tbody>
            <tr>
                <td><input id="Button1" type="button" class="btn-success" style="margin-left:50px;margin-top:15px" onclick="CpGlAdd()" value="确认" /></td>
                <td><input id="Button1_1" type="button" class="btn-info" style="margin-left:50px;margin-top:15px" value="取消" /></td>
            </tr>
        </table>
    </div>
    <div>
        <form class="navbar-form navbar-left" role="search" hidden>
            <dl>
                <dd>产品条码</dd>
                <dd>
                    <input id="CpID" type="text" hidden />
                    <input id="Cpbh" name="txtCpbh" type="text" class="input-medium">
                </dd>
            </dl>
            <dl>
                <dd>产品名称</dd>
                <dd>
                    <input id="CpXsName" name="txtCpXsName" type="password" class="input-medium">
                </dd>
                <dd>产品类别</dd>
                <dd>
                    <select id="CpLbName" name="CpLbName" class="input-medium" style="width:164px;">
                        <option value="">请选择类别</option>

                    </select>
                </dd>
            </dl>
            <dl>
                <dd>预警上限</dd>
                <dd>
                    <input id="CpSx" name="txtCpSx" type="text" placeholder="0" class="input-medium">
                </dd>
                <dd>预警下限</dd>
                <dd>
                    <input id="CpXx" name="txtCpXx" type="text" placeholder="0" class="input-medium">
                </dd>
            </dl>
            <dl>
                <dd>规格</dd>
                <dd>
                    <input id="Specification" name="txtSpecification" type="password" class="input-medium">
                </dd>
                <dd>单位</dd>
                <dd>
                    <select id="CpJlName" name="CpJlName" class="input-medium" style="width:164px;">
                        <option value="">请选择单位</option>

                    </select>
                </dd>
            </dl>
            <dl>
                <dd>价格</dd>
                <dd>
                    <input id="CpPrice" name="txtCpPrice" type="password" class="input-medium">
                </dd>
                <dd>客户</dd>
                <dd>
                    <select id="khName" name="khName" class="input-medium" style="width:164px;">
                        <option value="">请选择客户</option>

                    </select>
                </dd>
            </dl>
            <dl>
                <dd>默认仓库</dd>
                <dd>
                    <select id="CkId" name="CkId" class="input-medium" style="width:164px;">
                        <option value="">请选择仓库</option>

                    </select>
                </dd>
                <dd>默认库位</dd>
                <dd>
                    <select id="KwId" name="KwId" class="input-medium" style="width:164px;">
                        <option value="">请选择库位</option>

                    </select>
                </dd>
            </dl>
            <dl>
                <dd>产品数量</dd>
                <dd>
                    <input id="CpShuLiang" name="txtCpShuLiang" type="text" placeholder="" class="input-medium">
                </dd>
                <dd>备注</dd>
                <dd>
                    <input id="remark" name="txtremark" type="text" placeholder="" class="input-medium">
                </dd>
            </dl>
            <input id="Button1" type="button" class="btn-success" style="margin-left:50px;margin-top:15px" onclick="Eite()" value="确认" />
            <input id="Button1_1" type="button" class="btn-info" style="margin-left:50px;margin-top:15px" value="取消" />

        </form>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    var PageIndex = 1;
    var PageSize = 6;
    var PageCount = 0;
    var rows = 0;
    $(function () {
        GetCpGlAll();

        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;
            //完整功能
            laypage.render({
                elem: 'pageDemo'
                , count: rows//总条数
                , limit: 2//每页显示数
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {

                    //设置当前页
                    PageIndex = obj.curr;
                    //设置每页显示
                    PageSize = obj.limit;
                    GetCpGlAll();
                }
            });
        });


        //$("#btnSubhh").click(function () {
        //    if ($("#jbox-content").css("display") == "none") {
        //        $("#jbox-content").show();

        //    } else {
        //        $("#jbox-content").hide();
        //    }
        //});
        $("#Button1_1").click(function () {
            $("#jbox-content").hide();
        });
        Cplb();//产品类别
        Jldw();//计量单位
        Kh();//客户
        CK();//仓库
        Type();//库位
    });

    //查询
    function GetCpGlAll() {
        $.ajax({
            type: "POST",
            url: "/LLQ/GetCpGlAll",
            data: "{PageIndex:" + PageIndex + ",PageSize:" + PageSize + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tb1 tr").remove();
                rows = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tb1").append("<tr><td style='width: 20px; '><input type='checkbox' /></td><td>" + data.CpID + "</td><td>" + data.CpXsName + "</td><td>" + data.CpSx + "</td><td>" + data.CpXx + "</td><td>" + data.CpPrice + "</td><td>" + data.Specification + "</td><td>" + data.CpShuLiang + "</td><td>" + data.CpLbName + "</td><td>" + data.JlName + "</td><td>" + data.remark + "</td><td><i class='layui-icon layui-icon-edit'type='button' title='编辑'></i> <i class='layui-icon layui-icon-file-b' type='button' title='详情'></i><i class='layui-icon layui-icon-delete'title='删除' onclick='CpGlDet(" + data.CpID + ")'></i></td></tr>");
                });
            },
            erro: function (ex) {
                alert("Error:" + ex.responseText);
            }
        })
    }


    //新增
    function insert() {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo',//样式类名
            title: ['新增计量单位', 'font-size:18px'],
            area: ['650px', '359px'],
            shadeClose: true,
            content: $('#jbox-content'),
            shade: 0,
            btn: ['确定', '取消'],
            yes: function () {
                CpGlAdd();
            },
        });
    }

    function CpGlAdd() {
        var rukuzongshu = 0;//定义总数量
        var rukuzongjia = 0;//定义总价
        for (var i = 0; i < info.length; i++) {
            rukuzongshu += parseInt(info[i].StorageNumber);
            rukuzongjia += parseInt(info[i].Summoney);
        }

        $.ajax({
            type: "POST",
            url: "/LLQ/CpGlAdd",
            data: "{cpgl:{CpID:'" + $("#txtCpID").val() + "'Cpbh:'" + $("#txtCpbh").val() + "',CpXsName:'" + $("#txtCpXsName").val() + "',CpLbName:'" + $("#txtCpLbName").val() + "',CpSx:'" + $("#txtCpSx").val() + "',CpXx:'" + $("#txtCpXx").val() + "',Specification:'" + $("#txtSpecification").val() + "',CpJlName:'" + $("#txtCpJlName").val() + "',CpPrice:'" + $("#txtCpPrice").val() + "',khName:'" + $("#txtkhName").val() + "',CkId:'" + $("#txtCkId").val() + "',KwId:'" + $("#txtKwId").val() + "',CpShuLiang:'" + $("#txtCpShuLiang").val() + "',remark:'" + $("#txtremark").val() + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("新增成功");
                    GetCpGlAll();
                }
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }


    //删除
    function CpGlDet(CpID) {
        $.ajax({
            //请求方式
            type: "POST",
            //发送请求的地址 /控制器名/动作方法名
            url: "/LLQ/CpGlDet",
            //发送到服务器的数据(方法参数)
            data: "{CpID:" + CpID + "}",
            //服务器返回的数据类型
            dataType: "json",
            //发送信息至服务器时内容编码类型
            contentType: "application/json",
            //请求成功后的回调函数
            success: function (result) {
                if (result > 0) {
                    alert("删除成功");
                    GetCpGlAll();
                }
                else {
                    alert("删除失败");
                }
            },
            //请求失败后的回调函数
            error: function (ex) {
                alert(ex.responseText);
            }
        });
        GetCpGlAll();
    };
    //单个查询
    function reads(CpID) {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo',//样式类名
            title: ['编辑角色', 'font-size:18px'],
            area: ['400px', '359px'],
            shadeClose: true,
            content: $('#hide11'),
            shade: 0,

        });

        $.ajax({
            type: "POST",
            url: "/LLQ/CpGlGetById",
            data: "{CpID:" + CpID + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                console.log(result);
                $.each(result, function (Index, data) {
                    $("#CpID").val(data.CpID);
                    $("#Cpbh").val(data.Cpbh);
                    $("#CpXsName").val(data.CpXsName);
                    $("#CpLbName").val(data.CpLbName);
                    $("#CpSx").val(data.CpSx);
                    $("#CpXx").val(data.CpXx);
                    $("#Specification").val(data.Specification);
                    $("#CpJlName").val(data.CpJlName);
                    $("#CpPrice").val(data.CpPrice);
                    $("#khName").val(data.KwName);
                    $("#CkId").val(data.CpID);
                    $("#KwId").val(data.KwID);
                    $("#CpShuLiang").val(data.CpShuLiang);
                    $("#remark").val(data.remark);
                });
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
    function update() {
        var CpID = $("#CpID").val();
        var Cpbh = $("#Cpbh").val();
        var CpXsName = $("#CpXsName").val();
        var CpLbName = $("#CpLbName").val();
        var CpSx = $("#CpSx").val();
        var CpXx = $("#CpXx").val();
        var Specification = $("#Specification").val();
        var CpJlName = $("#CpJlName").val();
        var CpPrice = $("#CpPrice").val();
        var khName = $("#khName").val();
        var CkId = $("#CkId").val();
        var KwId = $("#KwId").val();
        var CpShuLiang = $("#CpShuLiang").val();
        var remark = $("#remark").val();
        $.ajax({
            type: "POST",
            url: "/LLQ/CpGlEdit",
            data: "{cpgl:{CpID:'" + CpID + "',Cpbh:'" + Cpbh + "',CpXsName:'" + CpXsName + "',CpLbName:'" + CpLbName + "',CpSx:'" + CpSx + "',CpXx:'" + CpXx + "',Specification:'" + Specification + "',CpJlName:'" + CpJlName + "',CpPrice:'" + CpPrice + "',khName:'" + khName + "',CkId:'" + CkId + "',KwId:'" + KwId + "',CpShuLiang:'" + CpShuLiang + "',remark:'" + remark + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("修改成功");
                    GetCpGlAll();
                } else {
                    alert("修改失败");
                }
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });


    }
    //模糊查询
    function CpGlQuery() {
        var Search = $("#txtSearch").val();
        alert(PageIndex);
        $.ajax({
            type: "POST",
            url: "/TXY/CpGlQuery",
            //data: "{PageIndex:" + PageIndex + ",PageSize:" + PageSize + ",DepartName:" + Search + "}",
            data: { PageIndex: PageIndex, PageSize: PageSize, CpXsName: Search },
            dataType: "json",
            //contentType: "application/json",
            success: function (result) {
                //alert(JSON.stringify(result));
                $("#tb1 tr").remove();
                rows = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tb1").append("<tr><td style='width: 20px; '><input type='checkbox' /></td><td>" + data.CpID + "</td><td>" + data.CpXsName + "</td><td>" + data.CpSx + "</td><td>" + data.CpXx + "</td><td>" + data.CpPrice + "</td><td>" + data.Specification + "</td><td>" + data.CpShuLiang + "</td><td>" + data.CpLbName + "</td><td>" + data.JlName + "</td><td>" + data.remark + "</td><td><i class='layui-icon layui-icon-edit'type='button' title='编辑'></i> <i class='layui-icon layui-icon-file-b' type='button' title='详情'></i><i class='layui-icon layui-icon-delete'title='删除' onclick='CpGlDet(" + data.CpID + ")'></i></td></tr>");
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);
            }
        })

    }

    function Type() {
        $.ajax({
            type: "POST",
            url: "/LL/selectType",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("[name='KwId']").append("<option value='" + data.KwID + "'>" + data.KwName + "</option>");
                });
            },
            //请求失败后的回调函数
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
    function CK() {
        $.ajax({
            type: "POST",
            url: "/LL/selectCK",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("[name='CkId']").append("<option value='" + data.Ckid + "'>" + data.CKName + "</option>");
                });
            },
            //请求失败后的回调函数
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
    function Kh() {
        $.ajax({
            type: "POST",
            url: "/LLQ/selectAd",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("[name='khName']").append("<option value='" + data.AdminID + "'>" + data.UserName + "</option>");
                });
            },
            //请求失败后的回调函数
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
    function Jldw() {
        $.ajax({
            type: "POST",
            url: "/LLQ/selectJldw",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("[name='CpJlName']").append("<option value='" + data.Jlid + "'>" + data.JlName + "</option>");
                });
            },
            //请求失败后的回调函数
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
    function Cplb() {
        $.ajax({
            type: "POST",
            url: "/LLQ/selectCplb",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("[name='CpLbName']").append("<option value='" + data.ID + "'>" + data.CpLbName + "</option>");
                });
            },
            //请求失败后的回调函数
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }
    function ConvertDate(date) {
        var time = new Date(parseInt(date.substr(6)));
        return time.toLocaleDateString();
    }
</script>
