
@{
    ViewBag.Title = "CpGl";
    Layout = "~/Views/MainPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CpGl</title>
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div style="border:0px solid #4cff00;width:100%;">
        <div style="padding:15px;border:1px solid red">
            <div>
                <table>
                    <tr>
                        <td><strong style="margin-left:20px">产品管理</strong></td>
                        <td> <input style="margin-left:750px;" id="btnSubhh" class="btn btn-primary" type="button" value="新增" /></td>
                        <td> <input style="margin-left:10px;" id="btnSub" class="btn btn-danger" type="button" value="删除" /></td>
                        <td> <input style="margin-left:10px;" id="btnSub" class="btn btn-info" type="button" value="导出" /></td>
                    </tr>
                </table>
                <table action="javascript:void(0)" class="form-horizontal">
                    <tr>
                        <td><input id="txtSearch" type="text" class="input-group" placeholder="请输入类别编号或者名称"></td>
                        <td>
                            <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="User.PageClick(1)">搜索</a>
                        </td>
                    </tr>
                </table>
            </div>
            <table style="width:100%;" class="table table-bordered">
                <thead>
                    <tr>
                        <td style="width:20px;"><input type="checkbox" /></td>
                        <td>序号</td>
                        <td>显示名</td>
                        <td>上限</td>
                        <td>下限</td>
                        <td>价格</td>
                        <td>规格</td>
                        <td>数量</td>
                        <td>类别</td>
                        <td>单位</td>
                        <td>备注</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody id="tb1"></tbody>
            </table>
            <div id="jbox-content" style="height: 136px;  position: static; margin-left:500px;position:absolute;margin-top:-300px;background-color:aliceblue" hidden>
                <div class="tab-pane active" id="widget_tab1" style="margin-top:30px">
                    <table class="formtab_user">
                        <tbody>
                            <tr>
                                <td>产品编号</td>
                                <td>
                                    <input id="txtCpID" name="txtCpID" type="text" placeholder="自动生成,可不填" class="input-medium" disabled="disabled">
                                </td>
                                <td>产品条码</td>
                                <td>
                                    <input id="txtCpbh" name="txtCpbh" type="text" class="input-medium">
                                </td>
                            </tr>
                            <tr>
                                <td>产品名称</td>
                                <td>
                                    <input id="txtCpXsName" name="txtCpXsName" type="password" class="input-medium">
                                </td>
                                <td>产品类别</td>
                                <td>
                                    <select id="CpLbName" name="CpLbName" class="input-medium" style="width:164px;">
                                        <option value="">请选择类别</option>
                                        <option value="DR_0000">儿童</option>
                                        <option value="000001">娱乐</option>
                                        <option value="000002">饮料类</option>
                                        <option value="000003">干货类</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>预警上限</td>
                                <td>
                                    <input id="txtCpSx" name="txtCpSx" type="text" placeholder="0" class="input-medium">
                                </td>
                                <td>预警下限</td>
                                <td>
                                    <input id="txtCpXx" name="txtCpXx" type="text" placeholder="0" class="input-medium">
                                </td>
                            </tr>
                            <tr>
                                <td>规格</td>
                                <td>
                                    <input id="txtSpecification" name="txtSpecification" type="password" class="input-medium">
                                </td>
                                <td>单位</td>
                                <td>
                                    <select id="CpJlName" name="CpJlName" class="input-medium" style="width:164px;">
                                        <option value="">请选择单位</option>
                                        <option value="DR_0000">千克</option>
                                        <option value="000001">吨</option>
                                        <option value="000002">克</option>
                                        <option value="000003">升</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>价格</td>
                                <td>
                                    <input id="txtCpPrice" name="txtCpPrice" type="password" class="input-medium">
                                </td>
                                <td>客户</td>
                                <td>
                                    <select id="khName" name="khName" class="input-medium" style="width:164px;">
                                        <option value="">请选择客户</option>
                                        <option value="DR_0000">阿里巴巴</option>
                                        <option value="000001">腾讯</option>
                                        <option value="000002">网易</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>默认仓库</td>
                                <td>
                                    <select id="CkId" name="CkId" class="input-medium" style="width:164px;">
                                        <option value="">请选择仓库</option>
                                        <option value="DR_0000">系统管理员</option>
                                        <option value="000001">仓管员</option>
                                        <option value="000002">采购员</option>
                                        <option value="000003">门卫</option>
                                    </select>
                                </td>
                                <td>默认库位</td>
                                <td>
                                    <select id="KwId" name="KwId" class="input-medium" style="width:164px;">
                                        <option value="">请选择库位</option>
                                        <option value="DR_0000">系统管理员</option>
                                        <option value="000001">仓管员</option>
                                        <option value="000002">采购员</option>
                                        <option value="000003">门卫</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>产品数量</td>
                                <td>
                                    <input id="txtCpShuLiang" name="txtCpShuLiang" type="text" placeholder="" class="input-medium">
                                </td>
                                <td>备注</td>
                                <td>
                                    <input id="txtremark" name="txtremark" type="text" placeholder="" class="input-medium">
                                </td>
                            </tr>
                        </tbody>
                        <tr>
                            <td><input id="Button1" type="button" class="btn-success" style="margin-left:50px;margin-top:15px" onclick="CpGlAdd()" value="确认" /></td>
                            <td><input id="Button1_1" type="button" class="btn-info" style="margin-left:50px;margin-top:15px" value="取消" /></td>
                        </tr>
                    </table>
                </div>
            </div>
            @*分页*@
            <div id="pageDemo">

            </div>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(function () {
        GetCpGlAll();

        var PageIndex = 1;
        var PageSize = 6;
        var PageCount = 0;
        var rows = 0;
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;
            //完整功能
            laypage.render({
                elem: 'pageDemo'
                , count: rows//总条数
                , limit: 2//每页显示数
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {

                    //设置当前页
                    PageIndex = obj.curr;
                    //设置每页显示
                    PageSize = obj.limit;
                    GetCpGlAll();
                }
            });
        });
        function GetCpGlAll() {
            $.ajax({
                type: "POST",
                url: "/LLQ/GetCpGlAll",
                data: "{PageIndex:" + PageIndex + ",PageSize:" + PageSize + "}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    $("#tb1 tr").remove();
                    rows = result.PageCount;
                    $.each(result.DataList, function (index, data) {
                        $("#tb1").append("<tr><td style='width: 20px; '><input type='checkbox' /></td><td>" + data.CpID + "</td><td>" + data.CpXsName + "</td><td>" + data.CpSx + "</td><td>" + data.CpXx + "</td><td>" + data.CpPrice + "</td><td>" + data.Specification + "</td><td>" + data.CpShuLiang + "</td><td>" + data.CpLbName + "</td><td>" + data.CpJlName + "</td><td>" + data.remark + "</td><td><i class='layui-icon layui-icon-edit' title='编辑'></i> <i class='layui-icon layui-icon-file-b' title='详情'></i>   <i class='layui-icon layui-icon-delete'id='dit' title='删除'></i></td></tr>");
                    });
                },
                erro: function (ex) {
                    alert(ex.responseText);
                }
            })
        }

        $("#btnSubhh").click(function () {
            if ($("#jbox-content").css("display") == "none") {
                $("#jbox-content").show();

            } else {
                $("#jbox-content").hide();
            }
        });
        $("#Button1_1").click(function () {
            $("#jbox-content").hide();
        });
    });

    function CpGlAdd() {
        $.ajax({
            type: "POST",
            url: "/LLQ/CpGlAdd",
            data: "{cpgl:{CpId:'" + $("#txtCpId").val() + "',CpLbName:'" + $("#txtCpLbName").val() + "',remark:'" + $("#txtremark").val() + "'CpId:'" + $("#txtCpId").val() + "',CpLbName:'" + $("#txtCpLbName").val() + "',remark:'" + $("#txtremark").val() + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("新增成功");
                    GetCpGlAll();
                }
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
    }



    function CpGlDet() {
        var id = $("[name='txtCpId']").val();
        $.ajax({
            //请求方式
            type: "POST",
            //发送请求的地址 /控制器名/动作方法名
            url: "/LLQ/CpGlDet",
            //发送到服务器的数据(方法参数)
            data: "{cpgl:" + id + "}",
            //服务器返回的数据类型
            dataType: "json",
            //发送信息至服务器时内容编码类型
            contentType: "application/json",
            //请求成功后的回调函数
            success: function (result) {
                if (result > 0) {
                    alert("删除成功");
                    GetCpGlAll();
                }
                else {
                    alert("删除失败");
                }
            },
            //请求失败后的回调函数
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    };


    function ConvertDate(date) {
        var time = new Date(parseInt(date.substr(6)));
        return time.toLocaleDateString();
    }
</script>
