
@{
    ViewBag.Title = "Cplb";
    Layout = "~/Views/MainPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cplb</title>
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div style="border:0px solid #4cff00;width:100%;">
        <div style="padding:15px;border:1px solid red">
            <table>
                <tr>
                    <td><strong style="margin-left:20px">产品类别管理</strong></td>
                    <td> <a style="margin-left:800px;" id="btnSubhh" class="btn btn-primary" href="javascript:insert()">新增</a></td>
                    <td> <input style="margin-left:10px;" id="btnSub" class="btn btn-danger" onclick="you()"  type="button" value="删除" /></td>
                    <td> <input style="margin-left:10px;" id="btnSub" class="btn btn-info" type="button" value="导出" /></td>
                </tr>
            </table>

            <table action="javascript:void(0)" class="form-horizontal">
                <tr>
                    <td><input id="txtSearch" type="text" class="input-group" placeholder="请输入类别编号或者名称"></td>
                    <td>
                        <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="CplbQuery()">搜索</a>
                    </td>
                </tr>
            </table>
            <table style="width:100%;" class="table table-bordered">
                <thead>
                    <tr>
                        <td style="width:20px;"><input type="checkbox" id="check1" onclick="quanxuan('checkbox', 'reversecheck')"  /></td>
                        <td>类别编号</td>
                        <td>类别名称</td>
                        <td>创建人</td>
                        <td>创建时间</td>
                        <td>备注</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody id="tb1"></tbody>
            </table>

            @*分页*@
            <div id="pageDemo">

            </div>
        </div>
    </div>
    <div id="jbox-content" hidden>
        <table class="formtab_user">
            <tbody>
                <tr>
                    <td>类别编号</td>
                    <td>
                        <input id="txtId" name="txtId" type="text" placeholder="自动生成,可不填" class="input-medium" disabled="disabled">
                    </td>
                </tr>
                <tr>
                    <td>类别名称</td>
                    <td>
                        <input id="txtCpLbName" name="txtCpLbName" type="text" class="input-medium">
                    </td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td>
                        <input id="txtremark" name="txtremark" type="text" class="input-medium">
                    </td>
                </tr>
            </tbody>
            <tr>
                <td><input id="Button1" type="button" class="btn-success" style="margin-left:50px;margin-top:15px" onclick="CplbAdd()" value="确认" /></td>
                <td><input id="Button1_1" type="button" class="btn-info" style="margin-left:50px;margin-top:15px" value="取消" /></td>
            </tr>
        </table>
    </div>
    <div id="hide11" @*style="height: 300px;width:500px; margin-left:450px;position:absolute;margin-top:-350px;background-color:aliceblue"*@ hidden="hidden">
        <form class="navbar-form navbar-left" role="search">

            <dl>
                <dd>产品名称</dd>
                <dd>
                    <input id="ID" type="text" hidden />
                    <input id="CpLbName" name="CpLbName" type="text" class="input-medium">
                </dd>
            </dl>
            <dl>
                <dd>创建人</dd>
                <dd>
                    <select id="UserName" name="UserName" class="input-medium" style="width:164px;">
                        <option value="0">请选择</option>

                    </select>
                </dd>
            </dl>
            <dl>
                <dd>创建时间</dd>
                <dd>
                    <input id="CpTime" name="CpTime" type="date" class="input-medium">
                </dd>
            </dl>
            <dl>
                <dd>备注</dd>
                <dd>
                    <input id="remark" name="remark" type="text" class="input-medium">
                </dd>
            </dl>
            <input id="Button1" type="button" class="btn-success" style="margin-left:100px;margin-top:1px;width:50px;height:30px" onclick="Eite()" value="确认" />
            <input id="Button1_1" type="button" class="btn-info" style="margin-left:150px;margin-top:15px;width:50px;height:30px" value="取消" />

        </form>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/layui/layui.js"></script>
<script>
    var PageIndex = 1;
    var PageSize = 10;
    var PageCount = 0;
    var rows = 0;
    $(function () {

        GetCplbAll();

        
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;
            //完整功能
            laypage.render({
                elem: 'pageDemo'
                , count: rows//总条数
                , limit: 5//每页显示数
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {

                    //设置当前页
                    PageIndex = obj.curr;
                    //设置每页显示
                    PageSize = obj.limit;
                    GetCplbAll();
                }
            });
        });
        
        
        //$("#btnSubhh").click(function () {
        //    if ($("#jbox-content").css("display") == "none") {
        //        $("#jbox-content").show();

        //    } else {
        //        $("#jbox-content").hide();
        //    }
        //});
        $("#Button1_1").click(function () {
            $("#jbox-content").hide();
        });
        Ad();
    });
    //分页查询
    function GetCplbAll() {
        $.ajax({
            type: "POST",
            url: "/LLQ/GetCplbAll",
            data: "{PageIndex:" + PageIndex + ",PageSize:" + PageSize + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tb1 tr").remove();
                rows = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tb1").append("<tr><td><input type='checkbox' name='checkbox' class='check' data-id='" + data.ID + "' /></td><td>" + data.ID + "</td><td>" + data.CpLbName + "</td><td>" + data.UserName + "</td><td>" + ConvertDate(data.CpTime) + "</td><td>" + data.remark + "</td><td><a href='javascript:reads(" + data.ID + ")'><i class='layui-icon layui-icon-edit'type='button' title='编辑'></i></a> <i class='layui-icon layui-icon-file-b' type='button' title='详情'></i><i class='layui-icon layui-icon-delete'title='删除' onclick='CplbDet(" + data.ID + ")'></i></td></tr>");
                });
            },
            erro: function (ex) {
                alert(ex.responseText);
            }
        })
    }
    //全选
    function quanxuan(objName, type) {
        var objNameList = document.getElementsByName(objName);
        if (null != objNameList) {
            for (var i = 0; i < objNameList.length; i++) {
                if (objNameList[i].checked == true) {
                    if (type != 'checkall') {  // 非全选
                        objNameList[i].checked = false;
                    }
                } else {
                    if (type != 'uncheckall') {  // 非取消全选
                        objNameList[i].checked = true;
                        //console.log($("input[name='checkbox']").data("id"));
                        //alert($("input[name='checkbox']").data("id"));

                    }
                }
            }
        }
    }

    function you() {
        var fan = 0;
        var list = []
        $.each($("[name='checkbox']"), function (index, result) {
            //alert($(this).is("checked"));
            //console.log(result);
            if ($(this).prop("checked")) {
                list.push($(this).data("id"));

            }
        });
        $.each(list, function (index2, id) {

            $.ajax({
                type: "POST",
                url: "/LLQ/CplbDet",
                data: "{id:" + id + "}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    //console.log(result);
                    if (result > 0) {
                        alert("删除成功2");
                        window.location.reload();

                    } else {
                        alert("删除失败2");

                    }
                },
                error: function (ex) {
                    alert(ex.responseText);
                }
            });

        })
    }

    //新增
    function insert() {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo',//样式类名
            title: ['新增计量单位', 'font-size:18px'],
            area: ['auto', 'auto'],
            shadeClose: true,
            content: $('#jbox-content'),
            shade: 0,
        });
    }
    function CplbAdd() {
        $.ajax({
            type: "POST",
            url: "/LLQ/CplbAdd",
            data: "{cplb:{ID:'" + $("#txtId").val() + "',CpLbName:'" + $("#txtCpLbName").val() + "',remark:'" + $("#txtremark").val() + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("新增成功");
                    GetCplbAll();
                    //window.location.href = "/LLQ/Cplb";
                }
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
        GetCplbAll();
    }

    //删除
    function CplbDet(id) {
        $.ajax({
            type: "POST",
            url: "/LLQ/CplbDet",
            data: "{id:" + id + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("删除成功");
                    GetCplbAll();//重新加载全部数据
                }
                else {
                    alert("删除失败");
                }
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);
            }
        });
        GetCplbAll();
    };

    //编辑修改
    function reads(ID) {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo',//样式类名
            title: ['编辑计量单位', 'font-size:18px'],
            area: ['400px', '359px'],
            shadeClose: true,
            content: $('#hide11'),
            shade: 0,

        });

        $.ajax({
            type: "POST",
            url: "/LLQ/CplbGetById",
            data: "{ID:" + ID + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (Index, data) {
                    
                    $("#ID").val(data.ID);
                    $("#CpLbName").val(data.CpLbName);
                    $("#UserName").val(data.UserName);
                    $("#CpTime").val(ConvertDate(data.CpTime));
                    $("#remark").val(data.remark);
                });
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }

    //修改
    function Eite() {
        var ID = $("#ID").val();
        var CpLbName = $("#CpLbName").val();
        var UserName = $("#UserName").val();
        var CpTime = $("#CpTime").val();
        var remark = $("#remark").val();
        $.ajax({
            type: "POST",
            url: "/LLQ/CplbEdit",
            data: "{ID: " + ID + ",CpLbName:'" + CpLbName + "',UserName: '" + UserName + "',CpTime:'" + CpTime + "',remark: '" + remark + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("修改成功");
                    GetCplbAll();
                } else {
                    alert("修改失败");
                }
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    };


    //模糊查询
    function CplbQuery() {
        var Search = $("#txtSearch").val();

        $.ajax({
            type: "POST",
            url: "/LLQ/CplbQuery",
            data: "{PageIndex:" + PageIndex + ",PageSize:" + PageSize + ",CpLbName:'" + Search + "'}",
            //data: { PageIndex: PageIndex, PageSize: PageSize, JlName: Search },
            dataType: "json",
            //contentType: "application/json",
            success: function (result) {
                //alert(JSON.stringify(result));
                $("#tb1 tr").remove();
                rows = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tb1").append("<tr><td><input type='checkbox' name='checkbox' class='check' data-id='" + data.ID + "' /></td><td>" + data.ID + "</td><td>" + data.CpLbName + "</td><td>" + data.UserName + "</td><td>" + ConvertDate(data.CpTime) + "</td><td>" + data.remark + "</td><td><a href='javascript:reads(" + data.ID + ")'><i class='layui-icon layui-icon-edit'type='button' title='编辑'></i></a> <i class='layui-icon layui-icon-file-b' type='button' title='详情'></i><i class='layui-icon layui-icon-delete'title='删除' onclick='CplbDet(" + data.ID + ")'></i></td></tr>");
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);
            }
        })
    }

    function Ad() {
        $.ajax({
            type: "POST",
            url: "/LLQ/selectAd",
            data: "{}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $.each(result, function (index, data) {
                    $("[name='UserName']").append("<option value='" + data.AdminID + "'>" + data.UserName + "</option>");
                });
            },
            //请求失败后的回调函数
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }

    function ConvertDate(date) {
        var time = new Date(parseInt(date.substr(6)));
        return time.toLocaleDateString();
    }
</script>
