
@{
    ViewBag.Title = "Jldw";
    Layout = "~/Views/MainPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jldw</title>
    <style>
        .input-medium {
            width: 250px;
            height: 35px;
            margin-left: 80px;
            margin-bottom: 20px;
        }
    </style>
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div style="border:0px solid #4cff00;width:100%;">
        <div style="padding:15px;border:1px solid red">
            <table>
            <tr>
                    <td><strong style="margin-left:20px">计量单位</strong></td>
                    <td> <a style="margin-left:800px;" id="btnSubhh" class="btn btn-primary" href="javascript:insert()">新增</a></td>
                    <td> <input style="margin-left:10px;" id="btnSub" class="btn btn-danger" type="button" value="删除" /></td>
                    <td> <input style="margin-left:10px;" id="btnSub" class="btn btn-info" type="button" value="导出" /></td>
                </tr>
        </table>
            <table action="javascript:void(0)" class="form-horizontal">
                <tr>
                    <td><input id="txtSearch" type="text" class="input-group" placeholder="请输入单位编名或者名称"></td>
                    <td>
                        <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="User.PageClick(1)">搜索</a>
                    </td>
                </tr>
            </table>
            <table style="width:100%;" class="table table-bordered">
                <thead>
                    <tr>
                        <td style="width:20px;"><input type="checkbox" /></td>
                        <td>序号</td>
                        <td>名称</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody id="tb1"></tbody>
            </table>

            @*分页*@
            <div id="pageDemo">

            </div>
        </div>
    </div>
    <div id="jbox-content" hidden>
        <table class="formtab_user">
            <tr>
                <td>编号</td>
                <td>
                    <input id="txtJlid" name="txtJlid" type="text" placeholder="自动生成,可不填" class="input-medium" disabled="disabled" value="">
                </td>
            </tr>
            <tr>
                <td>名称</td>
                <td>
                    <input id="txtJlName" name="txtJlName" type="text" placeholder="请输入计量单位名称" class="input-medium" value="">
                </td>
            </tr>
            <tr>
                <td><input id="Button1" type="button" class="btn-success" style="margin-left:50px;margin-top:15px" onclick="JldwAdd()" value="确认" /></td>
                <td><input id="Button1_1" type="button" class="btn-info" style="margin-left:50px;margin-top:15px" value="取消" /></td>
            </tr>
        </table>
    </div>
    <div id="hide11" @*style="height: 300px;width:500px; margin-left:450px;position:absolute;margin-top:-350px;background-color:aliceblue"*@ hidden="hidden">
        <form class="navbar-form navbar-left" role="search">

            <dl>
                <dd>计量名称</dd>
                <dd>
                    <input id="jlid" type="text" hidden />
                    <input id="jlName" name="jlName" type="text" class="input-medium">
                </dd>
            </dl>
            <input id="Button1" type="button" class="btn-success" style="margin-left:100px;margin-top:1px;width:50px;height:30px" onclick="update()" value="确认" />
            <input id="Button1_1" type="button" class="btn-info" style="margin-left:150px;margin-top:15px;width:50px;height:30px" value="取消" />

        </form>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    var pageIndex = 1;
    var pageSize = 6;
    var PageCount = 0;
    var rows = 0;
    $(function () {
        GetJldwAll();
             

        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;
            //完整功能
            laypage.render({
                elem: 'pageDemo'
                , count: rows//总条数
                , limit: 6//每页显示数
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {

                    //设置当前页
                    PageIndex = obj.curr;
                    //设置每页显示
                    PageSize = obj.limit;
                    GetJldwAll();
                }
            });
        });

        $("#Button1_1").click(function () {
            $("#jbox-content").hide();
        });
    });


    function GetJldwAll() {

        $.ajax({
            type: "POST",
            url: "/LLQ/GetJldwAll",
            data: "{PageIndex:" + pageIndex + ",pageSize:" + pageSize + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tb1 tr").remove();
                //获取总条数
                rows = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tb1").append("<tr><td><input type='checkbox' /></td><td>" + data.Jlid + "</td><td>" + data.JlName + "</td><td><i class='layui-icon layui-icon-edit'type='button' title='编辑'></i> <i class='layui-icon layui-icon-file-b' type='button' title='详情'></i><i class='layui-icon layui-icon-delete'title='删除' onclick='JldwDet(" + data.Jlid + ")'></i></td></tr>");
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);
            }
        });
    }
    //新增
    function insert() {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo',//样式类名
            title: ['新增计量单位', 'font-size:18px'],
            area: ['auto', 'auto'],
            shadeClose: true,
            content: $('#jbox-content'),
            shade: 0,
        });
    }

    function JldwAdd() {
        $.ajax({
            type: "POST",
            url: "/LLQ/JldwAdd",
            data: "{jldw:{Jlid:'" + $("#txtJlid").val() + "',JlName:'" + $("#txtJlName").val() + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("新增成功");
                    GetJldwAll();
                    window.location.href = "/LLQ/Jldw";
                }
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);
            }
        });
        GetJldwAll();
    }

    //删除
    function JldwDet(jlid) {
        //alert(jlid);
        //判断按钮是否选中
        //if ($("#" + jlid + "").is(":checked") == true) {
            $.ajax({
                type: "POST",
                url: "/LLQ/JldwDet",
                data: "{jlid:'" + jlid + "'}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    if (result > 0) {
                        alert("删除成功");
                        GetJldwAll();//重新加载全部数据
                    }
                    else {
                        alert("删除失败");
                    }
                },
                error: function (ex) {
                    alert("Error:" + ex.responseText);

                }
            });
        //} else {
        //    alert("未选择数据！");
        //}
        GetJldwAll();
    };

    //function reads() {
    //    layer.open({
    //        type: 1,
    //        skin: 'layui-layer-demo',//样式类名
    //        title: ['编辑', 'font-size:18px'],
    //        area: ['400px', '359px'],
    //        shadeClose: true,
    //        content: $('#jbox-content1').html(),
    //        btn: ['确定', '取消'],
    //        yes: function () {
    //        },
    //    });
    //}

    //function JldwGetById(Jlid) {
    //    $.ajax({
    //        type: "POST",
    //        url: "/LLQ/JldwGetById",
    //        data: "{Jlid:" + Jlid + "}",
    //        dataType: "json",
    //        contentType: "application/json",
    //        success: function (result) {
    //            $.each(result, function (Index, data) {
    //                $("[name='txtJlName']").val(data.JlName);
    //            });
    //        },
    //        error: function (ex) {
    //            alert(ex.responseText);
    //        }
    //    });
    //}


    function ConvertDate(date) {
        var time = new Date(parseInt(date.substr(6)));
        return time.toLocaleDateString();
    }
</script>


