
@{
    ViewBag.Title = "Jldw";
    Layout = "~/Views/MainPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jldw</title>
    <style>
        .input-medium {
            width: 250px;
            height: 35px;
            margin-left: 80px;
            margin-bottom: 20px;
        }
    </style>
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div style="border:0px solid #4cff00;width:100%;">
        <div style="padding:15px;border:1px solid red">
            <table>
                <tr>
                    <td><strong style="margin-left:20px">计量单位</strong></td>
                    <td> <a style="margin-left:800px;" id="btnSubhh" class="btn btn-primary" href="javascript:insert()">新增</a></td>
                    <td> <input style="margin-left:10px;" id="btnSub" class="btn btn-danger" onclick="you()"  type="button" value="删除" /></td>
                    <td> <input style="margin-left:10px;" id="btnSub" class="btn btn-info" type="button" value="导出" /></td>
                </tr>
            </table>
            <table action="javascript:void(0)" class="form-horizontal">
                <tr>
                    <td><input id="txtSearch" type="text" class="input-group" placeholder="请输入单位名称"></td>
                    <td>
                        <a style="margin-left:10px" id="gritter-remove-all" class="btn btn-info" href="javascript:void(0)" onclick="JldwGetByQuery()">搜索</a>
                    </td>
                </tr>
            </table>
            <table style="width:100%;" class="table table-bordered">
                <thead>
                    <tr>
                        <td style="width:20px;"><input type="checkbox" id="check1" onclick="quanxuan('checkbox', 'reversecheck')" /></td>
                        <td>序号</td>
                        <td>名称</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody id="tb1"></tbody>
            </table>

            @*分页*@
            <div id="pageDemo">

            </div>
        </div>
    </div>
    <div id="jbox-content" hidden>
        <form class="navbar-form navbar-left" role="search">
            <dl>
                <dd>编号</dd>
                <dd>
                    <input id="txtJlid" name="txtJlid" type="text" placeholder="自动生成,可不填" class="input-medium" disabled="disabled" value="">
                </dd>
            </dl>
            <dl>
                <dd>名称</dd>
                <dd>
                    <input id="txtJlName" name="txtJlName" type="text" placeholder="请输入计量单位名称" class="input-medium" value="">
                </dd>
            </dl>
            <input id="Button1" type="button" class="btn-success" style="margin-left:50px;margin-top:15px" onclick="JldwAdd()" value="确认" />
            <input id="Button1_1" type="button" class="btn-info" style="margin-left:50px;margin-top:15px" value="取消" />

        </form>
    </div>
    <div id="hide11" hidden="hidden">
        <form class="navbar-form navbar-left" role="search">

            <dl>
                <dd>计量名称</dd>
                <dd>
                    <input id="jlName" name="jlName" type="text" class="input-medium">
                </dd>
            </dl>
            <input id="Button1" type="button" class="btn-success" style="margin-left:100px;margin-top:1px;width:50px;height:30px" onclick="Eite()" value="确认" />
            <input id="Button1_1" type="button" class="btn-info" style="margin-left:150px;margin-top:15px;width:50px;height:30px" value="取消" />

        </form>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    var PageIndex = 1;
    var PageSize = 10;
    var PageCount = 0;
    var rows = 0;
    $(function () {
        GetJldwAll();

        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage
                , layer = layui.layer;
            //完整功能
            laypage.render({
                elem: 'pageDemo'
                , count: rows//总条数
                , limit: 5//每页显示数
                , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                , jump: function (obj) {

                    //设置当前页
                    PageIndex = obj.curr;
                    //设置每页显示
                    PageSize = obj.limit;
                    GetJldwAll();
                }
            });
        });

        $("#Button1_1").click(function () {
            $("#jbox-content").hide();
        });
    });

    //分页查询
    function GetJldwAll() {

        $.ajax({
            type: "POST",
            url: "/LLQ/GetJldwAll",
            data: "{PageIndex:" + pageIndex + ",pageSize:" + pageSize + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                $("#tb1 tr").remove();
                //获取总条数
                rows = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tb1").append("<tr><td  style='width: 20px; '><input type='checkbox'name='checkbox' class='check' data-id='" + data.Jlid + "' /></td><td id='hhh'>" + data.Jlid + "</td><td>" + data.JlName + "</td><td><a  href='javascript:reads(" + data.Jlid + ")'><i class='layui-icon layui-icon-edit' id='button' title='编辑'></i> </a> <i class='layui-icon layui-icon-file-b' type='button' title='详情'></i><i class='layui-icon layui-icon-delete'title='删除' onclick='JldwDet(" + data.Jlid + ")'></i></td></tr>");
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);
            }
        });
    }

    //全选删除
    function quanxuan(objName, type) {
        var objNameList = document.getElementsByName(objName);
        if (null != objNameList) {
            for (var i = 0; i < objNameList.length; i++) {
                if (objNameList[i].checked == true) {
                    if (type != 'checkall') {  // 非全选
                        objNameList[i].checked = false;
                    }
                } else {
                    if (type != 'uncheckall') {  // 非取消全选
                        objNameList[i].checked = true;
                        //console.log($("input[name='checkbox']").data("id"));
                        //alert($("input[name='checkbox']").data("id"));

                    }
                }
            }
        }
    }
    function you() {
        var fan = 0;
        var list = []
        $.each($("[name='checkbox']"), function (index, result) {
            //alert($(this).is("checked"));
            //console.log(result);
            if ($(this).prop("checked")) {
                list.push($(this).data("id"));

            }
        });
        $.each(list, function (index2, jlid) {
            alert(jlid);
            $.ajax({
                type: "POST",
                url: "/LLQ/JldwDet",
                data: "{jlid:" + jlid + "}",
                dataType: "json",
                contentType: "application/json",
                success: function (result) {
                    //console.log(result);
                    if (result > 0) {
                        alert("删除成功2");
                        window.location.reload();

                    } else {
                        alert("删除失败2");

                    }
                },
                error: function (ex) {
                    alert(ex.responseText);
                }
            });

        })
    }

    //新增
    function insert() {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo',//样式类名
            title: ['新增计量单位', 'font-size:18px'],
            area: ['400px', '359px'],
            shadeClose: true,
            content: $('#jbox-content'),
            shade: 0,
        });
    }
    function JldwAdd() {
        $.ajax({
            type: "POST",
            url: "/LLQ/JldwAdd",
            data: "{jldw:{Jlid:'" + $("#txtJlid").val() + "',JlName:'" + $("#txtJlName").val() + "'}}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("新增成功");
                    GetJldwAll();
                    window.location.href = "/LLQ/Jldw";
                }
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);
            }
        });
        GetJldwAll();
    }

    //删除
    function JldwDet(jlid) {
        //alert(jlid);
        //判断按钮是否选中
        //if ($("#" + jlid + "").is(":checked") == true) {
        $.ajax({
            type: "POST",
            url: "/LLQ/JldwDet",
            data: "{jlid:'" + jlid + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("删除成功");
                    GetJldwAll();//重新加载全部数据
                }
                else {
                    alert("删除失败");
                }
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);

            }
        });
        //} else {
        //    alert("未选择数据！");
        //}
        GetJldwAll();
    };

    //修改（获取的id）
    function reads(Jlid) {
        layer.open({
            type: 1,
            skin: 'layui-layer-demo',//样式类名
            title: ['编辑计量单位', 'font-size:18px'],
            area: ['400px', '359px'],
            shadeClose: true,
            content: $('#hide11'),
            shade: 0,

        });

        $.ajax({
            type: "POST",
            url: "/LLQ/JldwGetById",
            data: "{Jlid:" + Jlid + "}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                console.log(result);
                $.each(result, function (Index, data) {

                    $("#jlid").val(data.Jlid);
                    $("#jlName").val(data.JlName);
                });
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }

    //修改
    function Eite() {
        var jlid = $("#jlid").val();
        var jlName = $("#jlName").val();
        $.ajax({
            type: "POST",
            url: "/LLQ/JldwEdit",
            data: "{Jlid: " + jlid + ",JlName:'" + jlName + "'}",
            dataType: "json",
            contentType: "application/json",
            success: function (result) {
                if (result > 0) {
                    alert("修改成功");
                    GetJldwAll();
                } else {
                    alert("修改失败");
                }
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    };


    //模糊查询
    function JldwGetByQuery() {
        var Search = $("#txtSearch").val();

        $.ajax({
            type: "POST",
            url: "/LLQ/JldwGetByQuery",
            data: "{PageIndex:" + PageIndex + ",PageSize:" + PageSize + ",jlName:'" + Search + "'}",
            //data: { PageIndex: PageIndex, PageSize: PageSize, JlName: Search },
            dataType: "json",
            //contentType: "application/json",
            success: function (result) {
                //alert(JSON.stringify(result));
                $("#tb1 tr").remove();
                rows = result.PageCount;
                $.each(result.DataList, function (index, data) {
                    $("#tb1").append("<tr><td  style='width: 20px; '><input type='checkbox'name='checkbox' class='check' data-id='" + data.Jlid + "' /></td><td id='hhh'>" + data.Jlid + "</td><td>" + data.JlName + "</td><td><a  href='javascript:reads(" + data.Jlid + ")'><i class='layui-icon layui-icon-edit' id='button' title='编辑'></i> </a><i class='layui-icon layui-icon-file-b' type='button' title='详情'></i><i class='layui-icon layui-icon-delete'title='删除' onclick='JldwDet(" + data.Jlid + ")'></i></td></tr>");
                });
            },
            error: function (ex) {
                alert("Error:" + ex.responseText);
            }
        })
    }
    function ConvertDate(date) {
        var time = new Date(parseInt(date.substr(6)));
        return time.toLocaleDateString();
    }
</script>


